[2021-03-04 05:01] Ankitasareen opened #1 "I have a project idea regarding crop prediction and therefore wanted to contribute regarding the same."

[2021-03-07 06:33] ashishsahu1 commented on #1
The Idea seems  great @Ankitasareen  you can go ahead with this, I am assigning you with this issue

[2021-03-07 07:00] ashishsahu1 opened #2 "Stock Price Prediction"
## Stock Price Prediction
- collect data
- perform preprocessing steps
- cleaning
- build model

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-07 07:05] ashishsahu1 commented on #2
## Stock Price Prediction
- collect data
- perform preprocessing steps
- cleaning
- build model

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-07 07:11] ashishsahu1 opened #3 "Titanic Prediction"
## Titanic Prediction
*We have to predict the chances of surviving in titanic by working on titanic public dataset*

### Tasks
- data exploration
- data cleaning
- model creation
- fine tuning

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-07 07:16] ashishsahu1 opened #4 "Text Summarization"
## Text Summarization

*Get a brief synopsis of a paragraph*

- Frontend designing
- Frontend Building

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-07 07:30] ashishsahu1 opened #5 "Gold Price Prediction"
*Predict the price of gold* 💲

- getting dataset
- data analysis
- data preprocessing
- model creation
- model export

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-08 03:51] AM1CODES opened #6 "New Project : Determining Admission in a Graduate program"
I had a project idea in which i make use of student data which had features like GRE scores, TOEFL scores and some other features and build a model using these features. The project will help the students in getting a fair idea about their chances of getting in  a graduate program. I am also planning  on deploying it using Streamlit. I would like to work on this @ashishsahu1

I am a GSSOC particip

[2021-03-08 09:29] ashishsahu1 commented on #6
The idea seems quite interesting, in which part do you want to work? Model creation?

[2021-03-08 09:32] AM1CODES commented on #6
I would like to work on modeling and later on i would like to deploy the same using streamlit and ngrok. If you want i will start off by working on the model first. @ashishsahu1

[2021-03-08 10:14] aakriti1318 opened #7 "Dogs vs Cats Image Classification"
I would like to work on this project by using different models of classification (Model Creation).
I am GSSOC Participant. Assign me this project @ashishsahu1

[2021-03-08 13:43] ashishsahu1 commented on #6
Sounds great, go for it @AM1CODES , I am assigning the modeling task to you

[2021-03-08 13:46] ashishsahu1 commented on #7
Looks good, you can start working😊

[2021-03-08 13:54] psyduck1203 commented on #2
Hey, I'm a GSSoC`21 Participant and I want to contribute to this repo. Can you please assign me this issue?

[2021-03-08 13:55] ashishsahu1 commented on #2
Yeah sure, I am assigning you this issue

[2021-03-08 14:04] aakriti1318 commented on #7
Sure will work on it.

[2021-03-08 14:38] aishwaryachand commented on #5
Hey, I'm a GSSoC`21 participant and want to contribute to this repo can you please assign me this issue?

[2021-03-08 14:45] ashishsahu1 commented on #5
Yeah sure @aishwaryachand

[2021-03-08 15:04] pallavidhere23 commented on #5
I am GSSOC'2021 participant can u please assign me this issue.

[2021-03-08 15:04] pallavidhere23 commented on #2
I am a GSSOC'2021 participant can u please assign me this issue.

[2021-03-08 15:10] ashishsahu1 commented on #5
Hey @pallavidhere23  this issue is already assigned to @aishwaryachand ,you can check out other issues, and also more interesting issues will be added by today's end.

[2021-03-08 15:24] ishika07 commented on #3
I'd like to work on this as a participant of GSSOC'21 . Kindly assign it to me.

[2021-03-08 15:48] ritikasharma99 commented on #5
Hi I am GSSOC'2021 participant. I would like to work on this problem. Can you please assign me this issue?

[2021-03-08 15:53] ashishsahu1 commented on #3
Go for it @ishika07

[2021-03-08 15:55] ashishsahu1 commented on #5
It's already assigned @ritikasharma99

[2021-03-08 15:59] srimontidutta commented on #3
Can you please assign this to me as a part of GSSoC 21?

[2021-03-08 16:00] ashishsahu1 commented on #3
@srimontidutta new issues will be updated within 1 hrs, this one is already assigned

[2021-03-08 16:03] srimontidutta commented on #3
Thank you.

[2021-03-08 16:34] ashishsahu1 opened #8 "Bangalore House Price Prediction"
*Bangalore House Price Prediction * 💲

- getting dataset from https://www.kaggle.com/ruchi798/housing-prices-in-metropolitan-areas-of-india
- data analysis
- data preprocessing
- model creation
- model export

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-08 16:36] ashishsahu1 opened #9 "Chennai Housing Price Prediction"
*Chennai House Price Prediction*  💲

- getting dataset from https://www.kaggle.com/ruchi798/housing-prices-in-metropolitan-areas-of-india
- data analysis
- data preprocessing
- model creation
- model export

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-08 16:37] ashishsahu1 opened #10 "Delhi Housing Price Prediction"
*Delhi Housing Price Prediction* 💲

- getting dataset from https://www.kaggle.com/ruchi798/housing-prices-in-metropolitan-areas-of-india
- data analysis
- data preprocessing
- model creation
- model export

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-08 16:38] ashishsahu1 opened #11 "Hyderabad Housing Price Prediction"
*Hyderabad Housing Price Prediction* 💲

- getting dataset from https://www.kaggle.com/ruchi798/housing-prices-in-metropolitan-areas-of-india
- data analysis
- data preprocessing
- model creation
- model export

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-08 16:39] ashishsahu1 opened #12 "Kolkata Housing Price Prediction"
*Kolkata Housing Price Prediction* 💲

- getting dataset from https://www.kaggle.com/ruchi798/housing-prices-in-metropolitan-areas-of-india
- data analysis
- data preprocessing
- model creation
- model export

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-08 16:40] ashishsahu1 opened #13 "Mumbai Housing Price Prediction"
*Mumbai Housing Price Prediction* 💲

- getting dataset from https://www.kaggle.com/ruchi798/housing-prices-in-metropolitan-areas-of-india
- data analysis
- data preprocessing
- model creation
- model export

*regarding any help or doubt mail me at* ashishsahu10428@gmail.com

[2021-03-08 17:39] Sheetal777 opened #14 "Handwritten Digit Recognition"
(Gssoc'21)

I have recently worked on this deep learning project using Keras, tensorflow, numpy and pillow.
Dataset - MNSIT

It is effective in recognising digits written by hand and returning digital results. Basically static Google lens but for digits.

I would like to add the same in your repo for others to go through it and understand the detailed information given.

Modifications will be appr

[2021-03-08 17:49] Bijay555 commented on #12
I am a GSSOC'21 participant . Can you assign this to me?

[2021-03-08 17:52] srimontidutta commented on #13
I'm interested in this project. Can you please assign it to me? (GSSoC 21)

[2021-03-08 17:53] Bijay555 opened #15 "Malaria-cell disease detection"
Use the dataset given in the link below:
https://www.kaggle.com/iarunava/cell-images-for-detecting-malaria

Do following tasks
Data Analysis and visualization
Use of ML models to detect Malarial infected and not infected cell
Visualized the models performance

[2021-03-08 17:56] ashishsahu1 commented on #14
Its looks good to me, go for the model generation part.. after that we will also work in the Front-end

[2021-03-08 18:01] ashishsahu1 commented on #12
Go for it 😊 @Bijay555

[2021-03-08 18:05] ashishsahu1 commented on #15
@Bijay555 you are assigned with one task already, do you want to finish that and continue this one?

[2021-03-08 18:12] ashishsahu1 commented on #13
Yes sure @srimontidutta

[2021-03-08 18:42] Dhanush2612 commented on #8
Hi, I am participant at GSSOC. Can you assign this issue to me?

[2021-03-08 18:51] Dhanush2612 commented on #11
Can you assign me this issue.
Participant GSSOC 21

[2021-03-08 18:52] captainra1 commented on #10
I am a GSSOC' 21 participant can you assign this to me

[2021-03-08 18:53] Dhanush2612 commented on #15
Can you assign me this issue. Participant at GSSOC 21

[2021-03-08 18:59] Sheetal777 commented on #14
Yes, for sure. Thanks for assigning.

[2021-03-08 19:00] ashishsahu1 commented on #8
@Dhanush2612 You can go for it 😊

[2021-03-08 19:01] Dhanush2612 commented on #8
Thank you

[2021-03-08 19:02] ashishsahu1 commented on #11
@Dhanush2612  Complete one of the issue, after that get assigned with other

[2021-03-08 19:03] Dhanush2612 commented on #11
Ok

[2021-03-08 19:15] ashishsahu1 commented on #10
@captainra1 Sure you can, I am assigning you with this issue

[2021-03-08 19:27] ashishsahu1 commented on #15
@Dhanush2612  Its already assigned to @Bijay555, 😊

[2021-03-08 19:33] captainra1 commented on #10
thanks

[2021-03-08 20:39] ashishsahu1 opened #16 "Object Detection Using Yolo"

[2021-03-08 20:42] ashishsahu1 opened #17 "Cartoonify Image with Machine Learning"

[2021-03-08 20:43] ashishsahu1 opened #18 "Iris Flowers Classification"

[2021-03-08 20:45] ashishsahu1 opened #19 "Loan Prediction Project"
*Predict how much loan a user can take*

- Dataset : https://www.kaggle.com/altruistdelhite04/loan-prediction-problem-dataset

[2021-03-08 20:47] ashishsahu1 opened #20 "Wine Quality Test"
*In this project, you can build an interface to predict the quality of the red wine*

- Dataset: https://archive.ics.uci.edu/ml/datasets/wine+quality

[2021-03-08 20:51] ashishsahu1 opened #21 "Xbox Game Prediction Project"
*The data generated by people while searching can be used to predict the interest of the users*

- Dataset: https://www.kaggle.com/c/acm-sf-chapter-hackathon-small/data?select=test.csv

[2021-03-09 01:20] codername-123 commented on #18
Hello, I would like to work on this issue can you assign it me please . I am a participant of GSSOC'21

[2021-03-09 01:23] codername-123 commented on #20
Hello, I would like to work on this issue can you assign it me please . I am a participant of GSSOC'21

[2021-03-09 01:24] codername-123 commented on #17
Hello, I would like to work on this issue can you assign it me please . I am a participant of GGSOC'21

[2021-03-09 01:33] codername-123 opened #22 "Fixing typos in CONTRIBUTING.md"

[2021-03-09 01:43] codername-123 commented on #22
Hello, I would like to work on this issue can you assign it me please . I am a participant of GSSOC'211

[2021-03-09 02:30] Naman2104 commented on #4
Hey, I wanted to do work on your project. Please assign me this issue as I'd like to work on it as a GSSOC'21 participant.

[2021-03-09 02:56] anushavc commented on #19
Can i start working on this issue? I am a participant of GGSOC'21

[2021-03-09 03:02] gopichandpuli9 commented on #16
Can I work on this?

[2021-03-09 04:06] white-beard commented on #21
I am a GSSOC'21 participant . I would like to work on this project if you would assign it to me.

[2021-03-09 05:06] rashmitha520 opened #23 "Generating art"
Im a gssoc'21 participant .Can I work on this issue?

[2021-03-09 05:57] psyduck1203 opened #24 "Movie Recommendation Project"
Recommend Movies based on a viewer’s history and preferences.

- collect data
- perform preprocessing steps
- cleaning
- build model

Dataset: https://grouplens.org/datasets/movielens/

[2021-03-09 05:58] psyduck1203 commented on #24
Hey, I'm a GSSoC`21 participant and want to contribute this project to this repo! Can you please assign me this issue?

[2021-03-09 07:47] ashishsahu1 commented on #18
Yeah sure @codername-123

[2021-03-09 07:48] ashishsahu1 commented on #20
@codername-123 work on one of the issue first after that go for next one

[2021-03-09 07:49] ashishsahu1 commented on #22
@codername-123 work on assigned issue first

[2021-03-09 07:50] ashishsahu1 commented on #4
Yeah sure @Naman2104 you want to design or code the frontend too?

[2021-03-09 07:55] matrix2131 commented on #17
Hey! I am a participant of GSSOC'21 and would like to work on this issue. Can you please assign me?

[2021-03-09 07:56] matrix2131 commented on #16
Hey! I am a participant of GSSOC'21 and would like to work on this issue. Can you please assign me the issue?

[2021-03-09 07:56] ashishsahu1 commented on #17
Sure @matrix2131 I am assigning you this issue

[2021-03-09 07:57] ashishsahu1 commented on #24
Go with this @psyduck1203

[2021-03-09 07:58] ashishsahu1 commented on #16
@gopichandpuli9 work on this one 😊

[2021-03-09 07:59] ashishsahu1 commented on #23
You surely can @rashmitha520

[2021-03-09 07:59] ashishsahu1 commented on #23
Can you first explain the Idea?

[2021-03-09 08:00] ashishsahu1 commented on #21
@white-beard Go for it,

[2021-03-09 08:01] ashishsahu1 commented on #19
@anushavc You surely can 😄

[2021-03-09 08:07] matrix2131 commented on #9
Hey! I am a GSSOC' 21 participant and would like to work on this issue. Can you assign me the issue?

[2021-03-09 08:21] Stuti2803 commented on #11
Hello. I'm a Participant of GSSOC 21. Can you assign me for this issue?

[2021-03-09 08:21] subhangi2731 commented on #22
can I work on this?

[2021-03-09 08:22] matrix2131 commented on #17
thanks!

[2021-03-09 08:23] ashishsahu1 commented on #11
Yes sure @Stuti2803

[2021-03-09 08:24] ashishsahu1 commented on #22
Yes sure @subhangi2731 go with this

[2021-03-09 08:25] Stuti2803 commented on #11
@ashishsahu1 Thanks a lot :)

[2021-03-09 08:26] rashmitha520 commented on #23
I would like to use Generative adversarial networks to generate or recreate art/paintings out of existing paintings

[2021-03-09 08:28] ashishsahu1 commented on #23
Looks good to me, go for it, for now you will only work on the model right?

[2021-03-09 08:28] rashmitha520 commented on #23
yes

[2021-03-09 08:30] sakshi-06 commented on #9
Hey! I am a GSSOC'21 participant and would like to work on this issue. Can you assign me the issue?

[2021-03-09 10:12] ashishsahu1 commented on #9
@matrix2131 as you are already assigned I am assigning this one to @sakshi-06

[2021-03-09 10:47] ashishsahu1 opened #25 "✨Girlscript Summer of codes 2021"
## Hello Everyone 😀,

### **Welcome to Girlscript Summer of Codes 2021**

### What is GSSOC'21? 📖
GirlScript Summer of Code is the 3 month long Open Source program during summers conducted by GirlScript Foundation, started in 2018, with an aim to help beginners get started with Open Source Development while encouraging diversity. Throughout the program, participants contribute to different project

[2021-03-09 10:48] #25 closed, assigned to nobody

[2021-03-09 12:21] rohansharma4050 opened #28 "Fake News Detection Project"
predict whether the news is fake or not
will start  with
1)data collection
2)pre processing
3)modelling

I am a GSSoC'21 participant. @ashishsahu1 I would like to work on this project. Can you please assign this to me

[2021-03-09 12:34] annapurnavinod commented on #22
hey can I work on this issue?

[2021-03-09 15:11] feni-katharotiya commented on #4
@ashishsahu1 Hello, I am gssoc participant and would like to work on this issue.

and I am  okay  both design  as well as coding

[2021-03-09 15:41] gopichandpuli9 opened #29 "Twitter sentiment analysis"
Could you please assign me this issue.

[2021-03-09 16:00] pallavidhere23 commented on #28
I am a GSSOC'2021 partcipant.can u please assign me this issue.

[2021-03-09 16:41] ParthSingh0506 commented on #13
Hello, I am interested in this project can you assign me this project . I am a participant of GSSOC-21

[2021-03-09 16:45] ParthSingh0506 commented on #28
Hello, I am interested in this project can you please assign me this project . I am a participant of GSSOC-21

[2021-03-09 16:52] Naman2104 commented on #4
I like the code part, for the frontend. And I saw that your backend is on Django, if you want I can work on Django too and I also have some previous experience to work on it.

[2021-03-09 16:57] codeshruti commented on #20
Hello, I would like to work on this issue. Can you please assign it to me? I am a GSSOC'21 participant.

[2021-03-09 17:04] codeshruti opened #30 "Heart Failure Prediction"
Suggesting the best model for heart failure prediction.

I am a GSSOC '21 Participant.

[2021-03-09 17:09] ParthSingh0506 commented on #30
Hello, I am interested in this project can you please assign me this issue . I am a participant of GSSOC-21

[2021-03-09 17:16] ParthSingh0506 commented on #29
Hello , I am interested in this issue can you please assign me this issue . I am a participant of GSSOC-21

[2021-03-09 17:20] ParthSingh0506 commented on #20
Hello , I am interested in this issue can you please assign me this issue . I am a participant of GSSOC-21

[2021-03-09 17:21] ParthSingh0506 commented on #19
Hello , I am interested in this issue can you please assign me this issue . I am a participant of GSSOC-21

[2021-03-09 17:21] ParthSingh0506 commented on #12
Hello , I am interested in this issue can you please assign me this issue . I am a participant of GSSOC-21

[2021-03-09 17:21] ParthSingh0506 commented on #11
Hello , I am interested in this issue can you please assign me this issue . I am a participant of GSSOC-21

[2021-03-09 17:21] ParthSingh0506 commented on #10
Hello , I am interested in this issue can you please assign me this issue . I am a participant of GSSOC-21

[2021-03-09 17:21] ParthSingh0506 commented on #9
Hello , I am interested in this issue can you please assign me this issue . I am a participant of GSSOC-21

[2021-03-09 17:22] ParthSingh0506 commented on #7
Hello , I am interested in this issue can you please assign me this issue . I am a participant of GSSOC-21

[2021-03-09 17:58] ashishsahu1 commented on #22
This one is already assigned @annapurnavinod

[2021-03-09 18:04] ashishsahu1 commented on #13
It's already assigned @virusps12 , stay updated more ideas will be added tonight

[2021-03-09 18:54] ashishsahu1 commented on #28
@rohansharma4050  go for this one 😀,  @virusps12 @pallavidhere23 try to work on some other issue 😊

[2021-03-09 18:56] ashishsahu1 commented on #4
@Naman2104  for this project I have used Flask as my backend server, You could go with this one's frontend

[2021-03-09 18:58] ashishsahu1 commented on #4
@feni-katharotiya You can work on more projects, specially the backend part

[2021-03-09 18:59] ashishsahu1 commented on #30
@codeshruti  You are now assigned with this one

[2021-03-09 19:17] ashishsahu1 commented on #29
@gopichandpuli9 go with this one

[2021-03-09 19:37] ashishsahu1 commented on #20
@codeshruti  you are assigned with one issue as of now right ? @virusps12 you can go with this one

[2021-03-09 19:50] Dhanush2612 opened #35 "Face_Recognition"
Can Face_Recognition be included in this project?
If yes, can you assign me this issue?

[2021-03-09 20:08] ashishsahu1 commented on #35
Yes it is, you can go with this one

[2021-03-09 20:10] Dhanush2612 commented on #8
Done

[2021-03-10 04:08] Dhanush2612 commented on #35
Done, may I close the issue?

[2021-03-10 04:11] feni-katharotiya commented on #4
- Okay, then I can start working on it?
The backend part..

[2021-03-10 06:30] Amit366 opened #39 "Analyzing and Visualizing Uber data"
There are more than 4.5 million trips data in dataset including date, time and location of trip. The project will visualize data so that some interpretations can be made. With this, we can get insights which can help in future decisions and improvement.

[2021-03-10 06:31] Amit366 commented on #39
Please assign this to me under GSSOC

[2021-03-10 06:47] Amit366 opened #40 "Brain tumor detection using CNN"
I will use the dataset to detect and plot the results. Please assign this to me under GSSOC

[2021-03-10 07:35] ashishsahu1 commented on #35
@Dhanush2612 Yes dhanush you should close it after your changes are merged into main

[2021-03-10 07:37] ashishsahu1 commented on #4
The backend part for this project is already done @feni-katharotiya you could see other models like iris classification one, open a issue stating that you want to work on backend and what are your plans then go with the building stuff 😀

[2021-03-10 07:39] ashishsahu1 commented on #40
Hey @Amit366  I can see you have opened two issues, it would be better if you do one at a time 😀, can you say which one you want to work first Brain tumor or uber?

[2021-03-10 07:41] #6 closed, assigned to AM1CODES

[2021-03-10 07:42] Amit366 commented on #40
@ashishsahu1 I have opened two but the uber one is already ready. If u assign me I can send it within 2 hours. And brain tumor the next day.

[2021-03-10 07:42] Amit366 commented on #40
So please assign both

[2021-03-10 07:42] #18 closed, assigned to codername-123

[2021-03-10 07:43] ashishsahu1 commented on #40
@Amit366 It would be better to track if you do one at a time, so you have to select one

[2021-03-10 07:44] Amit366 commented on #40
Ok then I will do uber first and then brain

[2021-03-10 07:44] ashishsahu1 commented on #39
@Amit366 First complete this one 😀, after that I will assign you with Brain tumor one

[2021-03-10 07:44] Amit366 commented on #40
But will the brain one be assigned to someone else?

[2021-03-10 07:45] Amit366 commented on #39
Ok

[2021-03-10 08:12] ashishsahu1 opened #42 "Points to Consider for GSSOC"
*These rules are to make things easy for both participants and mentors*

## Assigned Mentors
- Niket @Niketkumardheeryan
- Vaibhav Arora @vaibhavarora102
- Priyanka Gupta @gpriya32

## Lebels Significance
- **Level 0** : Minor Documentations / Typo errors / Folder arrangements etc
- **Level 1** : Major Documentations / Data Analysis / Visualisations
- **Level 2** : Models(ipynb +pkl + dataset) / B

[2021-03-10 08:52] snehaamenon opened #43 "Walmart Sales Prediction"
As a part of GSSoc , i would like to work on this project. Kindly Assign this to me. Thankyou

[2021-03-10 09:11] ashishsahu1 commented on #43
You can surely work on this @snehaamenon

[2021-03-10 09:15] snehaamenon commented on #43
Thankyou :)

[2021-03-10 09:52] #35 closed, assigned to Dhanush2612

[2021-03-10 10:15] codername-123 opened #45 "Vehicle and pedestrian tracking using opencv"
I would like to work on this issue . Please assign it to me . I am a participant of Gssoc'21

[2021-03-10 10:55] AliHaider20 commented on #3
How can I participate? I am interested.

[2021-03-10 12:10] Dhanush2612 opened #46 "Invisibility Cloak using opencv"
Python Program to perform invisibility cloak.
Kindly assign this to me.

[2021-03-10 12:10] ritikkumar55 opened #47 "Bike Sharing Demand Prediction"
As a part of GSSOC 2021 , I would like to work on this project. Kindly Assign this to me. Thankyou.

[2021-03-10 14:20] PavitraAritas commented on #40
i'm a GSSoC participant and I would like to work on this project as my first issue. Would you assign this to me?

[2021-03-10 15:08] ashishsahu1 commented on #45
@codername-123 are you assigned with any other issue?

[2021-03-10 15:10] ashishsahu1 commented on #3
@AliHaider20 as of now this issue is assigned to @ishika07 and about 24hrs is left, if she is unable to make a pr before 24hrs you can surely work on this

[2021-03-10 15:15] ashishsahu1 commented on #46
@Dhanush2612 go for one issue at a time

[2021-03-10 15:16] codername-123 commented on #45
@ashishsahu1
No currently I'm not working on any issue any issue

[2021-03-10 15:17] ashishsahu1 commented on #47
Kindly read #42 , Its already mentioned to give a brief  description about your idea

[2021-03-10 15:18] Amit366 commented on #40
Sir now assign me this issue @ashishsahu1

[2021-03-10 15:20] ashishsahu1 commented on #45
Then you can go with this issue @codername-123

[2021-03-10 15:21] codername-123 commented on #45
thanks  @ashishsahu1

[2021-03-10 15:22] codername-123 commented on #45
can I ask which backend framework are you going with  for this project

[2021-03-10 15:24] ashishsahu1 commented on #45
According to me Flask is more preferable because of its being lightweight,

[2021-03-10 15:27] codername-123 commented on #45
Alright thanks for answering

[2021-03-10 15:27] ashishsahu1 commented on #40
Sure @Amit366 , Sorry @PavitraAritas can you try other issues, by the way more issues will be added tonight

[2021-03-10 15:43] ritikkumar55 commented on #47
Bike Sharing Demand Prediction is an regression Problem.
Objective of this task is to predict the total count of bikes rented during each hour covered by the test set, using
only information available prior to the rental period.

Dataset Url : https://www.kaggle.com/c/bike-sharing-demand/data

@ashishsahu1 Can we use Streamlit for this task or to go with Flask.

[2021-03-10 16:57] ashishsahu1 commented on #47
We surely can use streamlit, Flask is not a compulsion, are you going to do both model training and backend that is streamlit in this case?

[2021-03-10 17:37] Dhanush2612 opened #52 "Spam Message Detector"
Model to detect spam messages.

[2021-03-10 17:37] Dhanush2612 commented on #52
Please assign me this issue if its valid.

[2021-03-10 17:39] ritikkumar55 commented on #47
Yes , as a beginner I have only worked on model training on simple ml algorithm But I think this is the best time to make  myself  uncomfortable and push myself in backend development also.

[2021-03-10 17:41] ashishsahu1 commented on #52
@Dhanush2612 assigning to you, but first resolve #50  this one

[2021-03-10 17:43] ashishsahu1 commented on #47
@ritikkumar55 off course Open source is all about learning and implementing

[2021-03-10 17:44] ritikkumar55 commented on #47
Thank you so much @ashishsahu1

[2021-03-10 18:36] Dhanush2612 commented on #52
Done with #50, may I proceed ahead with this issue?

[2021-03-10 20:55] ashishsahu1 opened #58 "Music Genre Classification"
The idea behind this project is to automatically classify different musical genres from audio.
Blues, Classical, Country, Disco, Hiphop, Jazz, Metal, Pop, Reggae, Rock

GTZAN Genre dataset : http://marsyas.info/downloads/datasets.html

[2021-03-10 21:00] ashishsahu1 opened #59 "Bitcoin Price Predictor"
- This dataset is a real world data and may contain high amounts of outliers and could need proper cleaning
Dataset: https://www.kaggle.com/mczielinski/bitcoin-historical-data
- Also try to use Kaggle api to import this dataset

[2021-03-10 21:04] ashishsahu1 opened #60 "Cartoonify Backend Development"
- Building backend server for : https://github.com/ashishsahu1/ML-ProjectYard/tree/main/Cartoonify
- May use Flask or django
- (optional) May work on beautiful frontend too

*doing both backend and frontend make this issue a level 3 issue*

[2021-03-10 21:06] ashishsahu1 opened #61 "Face Recognition Backend"
- Building backend server for : https://github.com/ashishsahu1/ML-ProjectYard/tree/main/Face%20Recognition
- May use Flask or django
- (optional) May work on beautiful frontend too

*doing both backend and frontend make this issue a level 3 issue*

[2021-03-10 21:07] ashishsahu1 opened #62 "Fake News Prediction Backend"
- Building backend server for : https://github.com/ashishsahu1/ML-ProjectYard/tree/main/Fake%20News%20Prediction
- May use Flask or django
- (optional) May work on beautiful frontend too

*doing both backend and frontend make this issue a level 3 issue*

[2021-03-10 21:08] ashishsahu1 opened #63 "Gold Price Prediction Backend"
- Building backend server for : https://github.com/ashishsahu1/ML-ProjectYard/tree/main/Gold%20Prediction%20Model
- May use Flask or django
- (optional) May work on beautiful frontend too

*doing both backend and frontend make this issue a level 3 issue*

[2021-03-10 21:10] ashishsahu1 opened #64 "Graduate Admission Backend"
- Change the folder structure as mentioned here #42
- Building backend server for : https://github.com/ashishsahu1/ML-ProjectYard/tree/main/GraduateAdmissionPredictor/Model
- May use Flask or django
- (optional) May work on beautiful frontend too

*doing both backend and frontend make this issue a level 3 issue*

[2021-03-11 03:41] #28 closed, assigned to rohansharma4050

[2021-03-11 04:55] NEERAJAP2001 commented on #63
@ashishsahu1, I'm interested in this issue !! Would Love to solve Can you assign this to me?

[2021-03-11 04:58] NEERAJAP2001 commented on #62
@ashishsahu1, I would love to work on this issue!! Can you please assign this to me?

[2021-03-11 05:04] NEERAJAP2001 opened #65 "Emotion Recognizer in Python( NLP Based )"
Hello!! I have an NLP-based Project Idea.
Problem staement : Emotion Recogiser
I've been working on this already would be happy to add this project here.
Here is  a [glimpse](https://github.com/NEERAJAP2001/EmoRec)
Please assign this issue to me so that I can start working.
Thanks

[2021-03-11 05:38] Manasi2001 opened #66 "Iris Flower Classification"
I want to work on a model for Iris Flower Classification using **Decision Trees**. Please assign this to me.

[2021-03-11 05:44] ashishsahu1 commented on #65
It's really looking dope @NEERAJAP2001 , do you want to work on the complete project from model training to backend and frontend?

- also can you edit the Issue's name with project name rather than "new project idea"

[2021-03-11 05:45] ashishsahu1 commented on #63
@NEERAJAP2001 try solving one issue at a time

[2021-03-11 06:03] NEERAJAP2001 commented on #63
Yeah Sure !! @ashishsahu1

[2021-03-11 06:05] NEERAJAP2001 commented on #65
Yes, would like to work full-stack on this project @ashishsahu1.
Thanks

[2021-03-11 06:50] ashishsahu1 commented on #66
@Manasi2001 Iris Flower classification is already added to the project

[2021-03-11 06:51] ashishsahu1 commented on #65
Perfect @NEERAJAP2001 go for this, it will be a level 3 issue, best of luck 😊

[2021-03-11 06:58] ashishsahu1 commented on #1
@Ankitasareen It's been 4 days are you working on this one?

[2021-03-11 06:59] ashishsahu1 commented on #2
@psyduck1203 are you working on this?

[2021-03-11 07:01] Ankitasareen commented on #1
Yes, I have completed it on my system yesterday night. Will send a PR by tonight.

[2021-03-11 07:03] Ankitasareen commented on #1
Sorry, just closed it bymistakely. Yes, I have completed it yesterday night itself on my local system. Will send a PR by tonight.

[2021-03-11 07:05] ashishsahu1 commented on #1
Okay @Ankitasareen try to be more punctual with time 😃

[2021-03-11 07:08] Ankitasareen commented on #1
Yes, I am sorry. My exams just got over yesterday. Will take care from next time for sure.

[2021-03-11 08:06] psyduck1203 commented on #2
yes, I'm almost done.

[2021-03-11 09:27] deeptea22 commented on #58
I would like to work on this issue under GSSoC'21. Please assign this to me. Thanks :)

[2021-03-11 09:36] psyduck1203 commented on #59
Hey, This seems interesting can I work on this issue?

[2021-03-11 09:59] rohansharma4050 opened #73 "IPL Analysis"
This project involves the analysis of  IPL-T20 matches from (2008-2020) like (toss win ratio, most title wins,  players with most runs, top performances in a match , etc)

I would like to work  on this issue under GSSOC'21. @ashishsahu1 can you please assign this to me

[2021-03-11 10:18] Aditi0102 commented on #58
Hello, I would like to use CNN, RNN model to classify different musical geners. I would be grateful to contribute to this issue under GSSOC'21

[2021-03-11 11:23] ashishsahu1 commented on #73
@rohansharma4050 Is it an analysis of IPL or predicting some values?

[2021-03-11 11:25] ashishsahu1 commented on #58
@deeptea22 You are assigned with this, and you have 3 days to work on the issue. @Aditi0102 You can work on some other projects 😊

[2021-03-11 11:40] soha28 opened #74 "Covid-19 analysis using python"
I have worked on this project. Can u please assign this issue to me as a part of GSSOC'21? @ashishsahu1

[2021-03-11 11:55] ashishsahu1 commented on #74
Can you elaborate your idea? Will you work on the webapp too r just .pynb file?

[2021-03-11 12:05] deeptea22 commented on #58
thank you :)

[2021-03-11 12:12] Amit366 opened #75 "Football best 11"
In this I will be picking up the best 11 from fifa 2018

[2021-03-11 12:13] Amit366 commented on #75
@ashishsahu1 please assign this to me

[2021-03-11 12:19] rohansharma4050 commented on #73
@ashishsahu1 right now just analysis and visualization

[2021-03-11 12:20] #66 closed, assigned to nobody

[2021-03-11 12:42] soha28 commented on #74
I don't know much about frontend or backend..I would prefer to work only on the .ipynb file @ashishsahu1

[2021-03-11 13:07] Manasi2001 opened #76 "Flight Delay Prediction"
I would like to work on this project under GSSoC'21. Please assign it to me.

[2021-03-11 14:12] ashishsahu1 commented on #75
@Amit366 You have to explain you Idea first, with the link for dataset 😃

[2021-03-11 14:13] ashishsahu1 commented on #73
@rohansharma4050 sure, You can start working now 😊

[2021-03-11 14:15] ashishsahu1 commented on #74
So your Idea is to analyse covid data and visualize it? or it will predict something?

[2021-03-11 14:18] ashishsahu1 commented on #76
Sure @Manasi2001 😃

[2021-03-11 14:21] Amit366 commented on #75
[FullData.csv.zip](https://github.com/ashishsahu1/ML-ProjectYard/files/6123589/FullData.csv.zip)

From this data set I will be picking up the best playing 11 using data analysis

[2021-03-11 14:28] soha28 commented on #74
yes to analyze and visualize it

[2021-03-11 14:56] arathib36 opened #78 "Diabetes Prediction"
As the title suggests, to predict whether a person has diabetes or not, based on several information about the patient such as BMI, age, health history etc.
Process Flow :
Data analysis and cleaning
Model creation
Parameter Tuning
Prediction

I am a GSSOC'21 participant and I am interested to work on this issue, could you please assign it to me?

[2021-03-11 15:13] prathameshThakur commented on #64
Hello @ashishsahu1!
I would like to work on this issue. Can I get assigned for the same!

[2021-03-11 15:47] ashishsahu1 commented on #75
@Amit366  go for it 😃

[2021-03-11 15:48] ashishsahu1 commented on #74
@soha28  go ahead with this 😃

[2021-03-11 15:49] ashishsahu1 commented on #78
@arathib36 seems great to me, try to export the model too into some pkl file😃, Assigning this issue to you

[2021-03-11 15:52] ashishsahu1 commented on #64
@prathameshThakur sure, I am assigning this to you

[2021-03-11 16:00] arathib36 commented on #78
Sure will do that too 😄

[2021-03-11 16:10] shantamsultania opened #81 "Twitter based Sentimental Analysis"
@ashishsahu1  thinking of making a Twitter-based Sentimental analysis Flask app in which a person enters a Tweet and he/she will get an analysis of the tweet like its a positive tweet or negative and stuff.

[2021-03-11 16:10] NEERAJAP2001 commented on #65
Thanks, @ashishsahu1, But one question when should I PR in order for it to count for gssoc21?

[2021-03-11 16:13] shantamsultania commented on #29
hey @ashishsahu1 i am thinking of making a Flask app of the same can i can work on this ?

[2021-03-11 16:14] tarannum-perween commented on #46
Hello, I would like to work on this issue. Can you assign it to me? I am a participant of GSSOC'21

[2021-03-11 16:18] Dhanush2612 opened #82 "Cancer Prediction"
ML model for cancer prediction.

[2021-03-11 16:18] Dhanush2612 commented on #82
Kindly assign me this issue

[2021-03-11 16:22] aishwaryachand opened #83 "Airbnb EDA and Model"
hey @ashishsahu1 I would like to work on Airbnb Data where I will perform the Data Visualization and cleaning followed by price prediction using various regression models.
I am GGSOC '21 participant, pls assign this issue to me.

[2021-03-12 04:45] Rutikab12 opened #85 "Predict the optimum number of clusters."
Hey @ashishsahu1 I am GSSoC'21 participant .
I want to contribute this project using **K-Means on Iris Dataset**.
*  I will visualize it perfectly.
*  I checked repo but couldn't find the issue.

Can I start working on it.

[2021-03-12 05:57] PavitraAritas commented on #61
I'm a GSSoC participant. I would like to work on this.

[2021-03-12 05:59] PavitraAritas commented on #59
I would love to work on this. Could you assign me this issue?

[2021-03-12 06:06] Amit366 opened #88 "NLP model to classify messages"
The model will be trained to classify whether a message is spam or not.

Please assign this issue to me.

[2021-03-12 07:27] ashishsahu1 commented on #65
You can do it anytime, GSSOC is already running, you can see I have label this as GSSOC

[2021-03-12 07:28] ashishsahu1 commented on #81
@shantamsultania The idea seems great, are you willing to do complete project thus making this a level 3 issue?

[2021-03-12 07:30] ashishsahu1 commented on #29
@gopichandpuli9 what's the status of the work?

[2021-03-12 07:31] ashishsahu1 commented on #46
@tarannum-perween go ahead 😊

[2021-03-12 07:31] gopichandpuli9 commented on #29
I'll submit it by today

[2021-03-12 07:33] ashishsahu1 commented on #46
@tarannum-perween Sorry this project have already been done

[2021-03-12 07:33] #46 closed, assigned to nobody

[2021-03-12 07:34] ashishsahu1 commented on #82
@Dhanush2612 can you explain your idea briefly, like which dataset, and idea behind?

[2021-03-12 07:35] ashishsahu1 commented on #83
@aishwaryachand surely you can 😊 best of luck

[2021-03-12 07:36] Dhanush2612 commented on #82
By making use of breast cancer dataset just like Bangalore housing prices prediction, I thought of making a model to predict cancer

[2021-03-12 07:37] Dhanush2612 commented on #82
https://www.kaggle.com/uciml/breast-cancer-wisconsin-data

[2021-03-12 07:37] ashishsahu1 commented on #85
@Rutikab12 Iris classification have already done and merged, you could select some other dataset 😅

[2021-03-12 07:55] shantamsultania commented on #81
yeah I think I will be able to make it tho it will take around 3-4 days if the timing is ok with you then will get into it assign it to me whenever you get free so that I can start working on the same @ashishsahu1

[2021-03-12 08:00] #45 closed, assigned to codername-123

[2021-03-12 08:04] codername-123 commented on #45
@ashishsahu1  can  you tell me how to label the PR
because according to gssoc guideline you are supposed to label your PR

[2021-03-12 08:54] varshinisn commented on #88
Please assign this task to me

[2021-03-12 09:04] Rutikab12 commented on #85
@ashishsahu1  I think it is not done using k-means. Or it will be fine if i used any other dataset for k-Means project so i can start working on it.

[2021-03-12 09:08] varshinisn commented on #85
Can I try it out using K-Means on Wine data ? @ashishsahu1
I look forward to contributing to this project

[2021-03-12 09:36] gopichandpuli9 opened #91 "Traffic Forecasting - Time series Analysis"
Could you please assign this issue.

[2021-03-12 11:43] Naman2104 commented on #4
Hi, I will work on it as a non-GSoc participant.

[2021-03-12 13:40] ashishsahu1 commented on #61
@PavitraAritas sure, go for it

[2021-03-12 13:41] ashishsahu1 commented on #59
@psyduck1203 You can surely work on this one. 😊

[2021-03-12 13:42] ashishsahu1 commented on #82
@Dhanush2612 Go ahead 😊

[2021-03-12 13:47] ashishsahu1 commented on #81
@shantamsultania You can go ahead with this one, all the best 😊😀

[2021-03-12 13:49] ashishsahu1 commented on #45
@codername-123  Don't worry that will be done by me, I will label all the PRs

[2021-03-12 13:55] ashishsahu1 commented on #88
This project has already been merged #69

[2021-03-12 13:55] #88 closed, assigned to nobody

[2021-03-12 13:56] ashishsahu1 commented on #85
Off course you can, Just look for a dataset, create a new issue, get it assigned and start working on it. 😀

[2021-03-12 13:58] ashishsahu1 commented on #85
Wine dataset is already done, If you want you can try other algorithm in the same project folder but it will be a level 0 issue then, @varshinisn

[2021-03-12 13:58] #85 closed, assigned to nobody

[2021-03-12 13:59] ashishsahu1 commented on #91
@gopichandpuli9 You surely can work on this one

[2021-03-12 14:08] ashishsahu1 commented on #4
Yes naman you could, You are already assigned

[2021-03-12 14:08] rohan-kulkarni-25 opened #95 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:17] ashishsahu1 commented on #95
@rohank2502 great , go for this

[2021-03-12 14:32] rohan-kulkarni-25 commented on #95
Thanks !!

[2021-03-12 14:45] ritikkumar55 opened #96 "Machine Learning Web App For Stroke Prediction"
@ashishsahu1 sir as a part of GSSOC 2021 , I would like to work on  projects which is Stroke Prediction web app using
streamlit it is an binary classification dataset.

Objective of this task is to  whether a patient is likely to get stroke based on the input parameters like gender, age, various diseases, and smoking status.

Dataset Url : https://www.kaggle.com/fedesoriano/stroke-prediction-datas

[2021-03-12 14:48] aqua0 commented on #91
Would love to contribute. please assign this to me as well.

[2021-03-12 14:51] aqua0 commented on #74
Hi, i can make it into predicting ad frontend as well using flask.
Can you assign this to me. if @soha28  shares the dataset she is using it will help me.

[2021-03-12 14:57] aqua0 opened #97 "Detecting currency using deep learning"
Hi,
Would like to contribute by making a currency detection code where you can detect fake and genuine currencies. Also detect currencies in real time.
Please assign this to me.

[2021-03-12 15:44] sakshi012000 commented on #59
Hi,
I am GSSOC'21 participant
please assign me this.

[2021-03-12 16:14] ParthSingh0506 commented on #20
@ashishsahu1  I have created the pull request of Wine Test kindly check it .

[2021-03-12 17:16] Hamza3226 commented on #82
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:16] Hamza3226 commented on #81
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:16] Hamza3226 commented on #76
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 18:02] Ankitasareen opened #100 "Fertilizer Recommendation Model"
Model for the recommendation of fertilizers for the crops.

[2021-03-12 18:06] Ankitasareen opened #101 "Plant disease prediction model"
Training model for plant disease prediction.

[2021-03-12 19:06] ashishsahu1 commented on #96
@ritikkumar55 Seems to me like a perfect Idea 😀, go for it

[2021-03-12 19:19] ashishsahu1 commented on #91
@aqua0  It's already assigned, You can select some other issue 😀

[2021-03-12 20:05] ashishsahu1 commented on #97
@aqua0 Yes surely you are assigned to this

[2021-03-12 20:07] ashishsahu1 commented on #59
@sakshi012000 it's  already assigned, try some other issues 😀

[2021-03-12 20:18] ashishsahu1 commented on #82
@Hamza3226 This issue is already assigned

[2021-03-12 20:30] ashishsahu1 commented on #101
@Ankitasareen According to rules I can only assign one issue at a time

[2021-03-12 20:35] #12 closed, assigned to Bijay555

[2021-03-12 20:41] ashishsahu1 opened #105 "README Update"
*This is a major documentation issue*
 - Add a section in README.md to list out all the project linked to the project folder
- Tabular List is recommended
- Must have 3 columns, **S.no** , **Project Name**, **Project Description**

[2021-03-12 20:42] #1 closed, assigned to Ankitasareen

[2021-03-12 20:43] #2 closed, assigned to psyduck1203

[2021-03-12 20:43] #3 closed, assigned to ishika07

[2021-03-12 20:45] #5 closed, assigned to aishwaryachand

[2021-03-12 20:46] ashishsahu1 commented on #7
@aakriti1318 Status?

[2021-03-12 20:47] #8 closed, assigned to Dhanush2612

[2021-03-12 20:48] ashishsahu1 commented on #9
status?

[2021-03-12 20:48] #10 closed, assigned to captainra1

[2021-03-12 20:49] ashishsahu1 commented on #11
@Stuti2803 status?

[2021-03-12 20:50] ashishsahu1 commented on #13
@srimontidutta status?

[2021-03-12 20:51] ashishsahu1 commented on #14
@Sheetal777 status?

[2021-03-12 20:51] ashishsahu1 commented on #15
@Bijay555 status

[2021-03-12 20:52] ashishsahu1 commented on #16
@gopichandpuli9 status ?

[2021-03-13 01:40] sakshi-06 commented on #9
hey, i have started working on it. I'll update it in some time

[2021-03-13 03:03] codername-123 commented on #105
Hello, can I work on this issue

[2021-03-13 03:29] #76 closed, assigned to Manasi2001

[2021-03-13 03:51] Hamza3226 commented on #82
Ok sir

[2021-03-13 04:11] HOTSONHONET commented on #82
HI, I'm a GSSOC'21 participant and want to contribute  to this project

[2021-03-13 04:36] ritikkumar55 commented on #96
Thank you so much @ashishsahu1

[2021-03-13 04:49] srimontidutta commented on #13
@ashishsahu1 I'm working on it. I think I'll be able to make a PR by the end of today

[2021-03-13 05:26] aakriti1318 commented on #7
By today I will do.

[2021-03-13 06:13] mahakal420 commented on #105
I would like to work on this issue, please assign me

[2021-03-13 06:34] psyduck1203 commented on #60
Hey @ashishsahu1. I have knowledge of web dev and ML both but haven't used Flask or Django yet but I'll surely learn and do the full project. I hope you will help me as well if required. Can you assign me this issue?

[2021-03-13 07:40] saaalik opened #109 "Tf-Idf from scratch"
I want to create tf_idf token calculation script from scratch without using the sklearn package. Also documenting the theory portion of the process along with all the formulae used

[2021-03-13 07:45] #73 closed, assigned to rohansharma4050

[2021-03-13 07:52] ashishsahu1 commented on #9
@sakshi-06 According to the rules you have to first get assigned after that you can start working on it, I am assigning you as @matrix2131 term has exceeded 3 days

[2021-03-13 07:56] Sheetal777 commented on #14
Yes, I have updated the files and raised a PR #113

[2021-03-13 07:59] Sheetal777 opened #111 "Face Mask Detection"
To add the Face Mask Detection Model

[2021-03-13 08:01] ashishsahu1 commented on #82
@HOTSONHONET This one is already assigned

[2021-03-13 08:01] Manasi2001 opened #112 "Solar Radiation Prediction (with GUI)"
The aim is to predict the Solar Radiation in an area on the basis of temperature, humidity, wind speed and wind direction at that place.
I would like to work on this project under GSSoC'21. Please assign this to me.

[2021-03-13 08:04] ashishsahu1 commented on #13
@srimontidutta It's already 5 days now, do it asap 😀

[2021-03-13 08:07] ashishsahu1 commented on #105
@codername-123 Go for it 😀

[2021-03-13 08:16] #24 closed, assigned to psyduck1203

[2021-03-13 09:21] #58 closed, assigned to deeptea22

[2021-03-13 09:22] captainra1 opened #114 "food outlet profit prediction.(model+backend)..."
problem formulation:
Suppose you are the CEO of a restaurant franchise and are considering different cities for opening a new food outlet. you have opened outlets in various, cities and you have data for profits and populations from the cities. Now, I can make a ml model to predict profit if you want to open an outlet in any city.
data information:
contains population of a city and profit gained b

[2021-03-13 09:22] ashishsahu1 commented on #60
@psyduck1203 Yes sure, open source is all about learning new things

[2021-03-13 09:29] ashishsahu1 commented on #109
It's look good to me, You can start working on it

[2021-03-13 09:31] ashishsahu1 commented on #111
@Sheetal777 You can start working on this one 😀

[2021-03-13 09:33] ashishsahu1 commented on #112
@Manasi2001 The Idea is pretty great, would you work on the model only or on complete project that is with backend ?

[2021-03-13 09:35] ashishsahu1 commented on #114
@captainra1 Looks good to me, will you work on complete project that is model with backend and frontend or just the model?

[2021-03-13 09:54] captainra1 commented on #114
complete project(model+backend)

[2021-03-13 09:55] Manasi2001 commented on #112
I'm not familiar with working on the backend. But, I'll work on the model, add its pkl file and make a user interface with the help of tkinter.

[2021-03-13 10:59] prithwirajmitra2001 opened #117 "Kannada MNIST Digits Prediction"
Would you assign me this task as part of GSSOC 21

[2021-03-13 11:01] prithwirajmitra2001 opened #118 "Road Lane line detection"
Please assign me this task.
Would love to do as part of GSSOC 21

[2021-03-13 11:07] prithwirajmitra2001 opened #119 "Automatic Number Plate Recognition"
Would like to work on this issue as part of GSSOC 21

[2021-03-13 11:10] Sheetal777 commented on #111
Yes, sure!

[2021-03-13 11:57] tarannum-perween commented on #101
I would like to work on this issue please assign it to me(GSSOC'21)

[2021-03-13 12:03] aqua0 commented on #97
Thank you i have two kinds of idea on doing this.
Is it ok if i do both types?

[2021-03-13 13:11] IronStark007 opened #120 "Speech Recogniton"
Hi @ashishsahu1 Sir, I want to add an speech recognition script using python.
Description : The speech recognition will work on the speech_recognition library and we can add more commands in this script to make an automation project.
Please assign me this task.
Thank You

[2021-03-13 13:15] IronStark007 opened #121 "Movie Recommendation System"
Hi @ashishsahu1 , I want to add a move recommendation System.
Description : The project recommends top movies to the users based on their taste and further I would like to add some more type like collaborative filtering and content based filtering.
Please assign me this task.
Thank You.

[2021-03-13 14:19] Amit366 commented on #20
@ashishsahu1 can I work on this issue?

[2021-03-13 15:23] Ashsakshi19 opened #122 "Music Genre Classification"
I was thinking to make a Machine Learning model that automatically classify different musical genres from audio.
I am a GSSOC'21 participant and I am interested to work on this issue, could you please assign it to me? @ashishsahu1

[2021-03-13 15:38] AM1CODES opened #124 "New Project : Book Recommender"
I found this data set on kaggle which has information about tons of books, so i wanted  to explore that data and build a recommender system for recommending books. I will link the data set below for  you to view.

The data set = [https://www.kaggle.com/jealousleopard/goodreadsbooks](url)

* P.S - I am a GSSOC'21 participant.

* Suggestion -
Also, i observed that there are way too many issues being

[2021-03-13 16:50] khareyash05 opened #125 "update contributing.md"
Hi ! I would like to update contributing.md which will
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-13 18:42] ParthSingh0506 commented on #20
@ashishsahu1 I have again created a pull request  as WineT kindly check it

[2021-03-13 20:51] Bayesian4042 commented on #65
Hey @ashishsahu1 can I also work on it though predicting emoticons instead of predicting emotions in text for any input text?

[2021-03-14 05:50] ashishsahu1 commented on #114
@captainra1 Go ahead with this one 😀

[2021-03-14 05:51] ashishsahu1 commented on #112
Tkinter will work great, @Manasi2001 go ahead with this one

[2021-03-14 05:54] ashishsahu1 commented on #117
@prithwirajmitra2001 You can surely do this one, will you make the complete project i.e., Model+Backend+frontend or just the model?

[2021-03-14 05:55] #95 closed, assigned to rohan-kulkarni-25

[2021-03-14 05:56] ashishsahu1 commented on #118
@prithwirajmitra2001 You can work on one issue at a time

[2021-03-14 05:57] ashishsahu1 commented on #97
Yes you can, just mention that in a md file inside the folder

[2021-03-14 05:58] ashishsahu1 commented on #120
@IronStark007 You can start working

[2021-03-14 05:59] ashishsahu1 commented on #121
@IronStark007  movie recommendations is already present in main branch

[2021-03-14 06:03] ashishsahu1 commented on #122
Music genre classification is already present in main branch, so have a look at some other idea 😀

[2021-03-14 06:03] ashishsahu1 commented on #122
Music genre i already present in main branch

[2021-03-14 06:05] ashishsahu1 commented on #124
@AM1CODES Great Idea, Thanks about the suggestion, mentors will be joining very soon

[2021-03-14 06:07] AM1CODES commented on #124
Thank you and that would be really great. So can you please assign this project to me? @ashishsahu1

[2021-03-14 06:08] #64 closed, assigned to prathameshThakur

[2021-03-14 06:08] ashishsahu1 commented on #125
You can go with this @khareyash05

[2021-03-14 06:30] #20 closed, assigned to ParthSingh0506

[2021-03-14 06:31] ashishsahu1 commented on #65
@Bayesian4042 create a new issue then get assigned and start working

[2021-03-14 06:33] ashishsahu1 commented on #124
@AM1CODES Yeah sure

[2021-03-14 06:34] ashishsahu1 commented on #124
will you work on complete project (backend + frontend + model)? or just the model?

[2021-03-14 06:37] IronStark007 commented on #121
Can i to make it more user friendly by showing the user top movies according to his/ her taste?
(but currently I am working on speech recognition #120)

[2021-03-14 06:39] IronStark007 commented on #121
Also every steps is missing comment which will be difficult for the new user to read and learn from it

[2021-03-14 06:45] Bayesian4042 opened #129 "[GSSOC-21] Emoticon Prediction Using NLP"
I would like to implement emoticons prediction system using glove embeddings and LSTM.

**Problem statement :**
          Input : text
          output : emoticon (pictorial representation of a facial expression)

**Features:**
1.  Simple frontend using HTML, bootstrap
2. Backend using flask
3. May be deploy it to Heroku.

@ashishsahu1 #129

[2021-03-14 07:35] Amit366 commented on #15
@ashishsahu1 Can I work on this issue?

[2021-03-14 07:36] Amit366 commented on #19
@ashishsahu1 can i work on this project?

[2021-03-14 07:38] AM1CODES commented on #124
@ashishsahu1  For now, i will take up the modelling part.

[2021-03-14 07:52] Ashsakshi19 opened #133 "Credit Card Fraud Detection"
A machine learning model that will be able to recognize the fraud credit card transactions so that customer is not charged for items that they did not purchase.

[2021-03-14 07:54] psyduck1203 opened #134 "Weather Forecasting using ML"
Weather Forecasting based on previous data

    collect data
    perform preprocessing steps
    cleaning
    build model

[2021-03-14 07:55] psyduck1203 commented on #134
@ashishsahu1 Hey I want to work on this project, can you assign me this issue!

[2021-03-14 09:05] prithwirajmitra2001 commented on #117
Only the model
I do not know Flask
I will give you the .ipynb file
Will it do

[2021-03-14 10:24] IronStark007 commented on #120
Okay Sir

[2021-03-14 12:29] khareyash05 commented on #125
@ashishsahu1 Created a PR Have a look!

[2021-03-14 13:03] ashishsahu1 commented on #121
@IronStark007 You can make an issue to work on the comments, about top movies feature you can make an issue for that and get assigned 😀

[2021-03-14 13:03] #121 closed, assigned to nobody

[2021-03-14 13:04] ashishsahu1 commented on #129
Great one @Bayesian4042 Go ahead

[2021-03-14 13:06] IronStark007 commented on #121
Ok Sir Thank you

[2021-03-14 13:13] ashishsahu1 commented on #15
@Amit366 You can start working on this one 😀

[2021-03-14 13:13] ashishsahu1 commented on #124
@AM1CODES Go for it

[2021-03-14 13:16] ashishsahu1 commented on #133
@Ashsakshi19 can you mention any dataset you will be working with, will you create the model only or complete webapp with backend?

[2021-03-14 13:16] ashishsahu1 commented on #134
@psyduck1203 Go with this one, you are assigned now

[2021-03-14 13:18] ashishsahu1 commented on #117
@prithwirajmitra2001 Yeah sure, But try t export any byte stream like pkl, pickle and other

[2021-03-14 13:39] ashishsahu1 commented on #4
@Naman2104 Updates?

[2021-03-14 13:40] ashishsahu1 commented on #7
@aakriti1318 ?

[2021-03-14 15:13] srimontidutta commented on #13
Hi! I've completed the project. But I am unable to convert it to pdf. Can you please help me with it?

[2021-03-14 15:22] Ashsakshi19 commented on #133
I will use https://www.kaggle.com/mlg-ulb/creditcardfraud I will complete web app with backend

[2021-03-14 15:37] #78 closed, assigned to arathib36

[2021-03-14 15:48] prithwirajmitra2001 commented on #117
Couldn't understand what you meant..
Do you mean to save the model in a pickle file???

[2021-03-14 16:07] #30 closed, assigned to codeshruti

[2021-03-14 17:20] ashishsahu1 commented on #13
Why do you want it in pdf? @srimontidutta

[2021-03-14 17:21] ashishsahu1 commented on #133
@Ashsakshi19 That's great go for it

[2021-03-14 17:22] srimontidutta commented on #13
Should I submit it in .ipynb then?

[2021-03-14 17:22] ashishsahu1 commented on #117
@prathameshThakur Yes exactly  😇

[2021-03-14 18:11] #134 closed, assigned to psyduck1203

[2021-03-14 20:31] ashishsahu1 commented on #13
Yess off course you have to commit ipynb and pickle

[2021-03-14 20:40] #14 closed, assigned to Sheetal777

[2021-03-14 21:01] #100 closed, assigned to Ankitasareen

[2021-03-14 21:03] Ankitasareen commented on #101
Can you assign this now to me?

[2021-03-15 03:17] #112 closed, assigned to Manasi2001

[2021-03-15 05:38] srimontidutta commented on #13
The .ipynb is ready, but I have never used pickle. Can you please help me with it?

[2021-03-15 08:34] ashishsahu1 commented on #101
@Ankitasareen Go ahead 😀

[2021-03-15 08:37] ashishsahu1 commented on #13
@srimontidutta It's quite easy, just search your query in google, you can also look at this https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

[2021-03-15 09:11] Amit366 commented on #52
@ashishsahu1 can I work on this issue??

[2021-03-15 09:35] HOTSONHONET commented on #62
@ashishsahu1, I'm a GSSOC'21 participant and I would like to work on it. If assigned I will be using BootStrap, Flask, Dash, and, MangoDb as my Tech Stack. Can you please assign this to me?

[2021-03-15 10:59] Amit366 commented on #83
@ashishsahu1 can I work on this issue??

[2021-03-15 11:20] aishwaryachand commented on #83
I am almost done with it, will make a pr by today.

[2021-03-15 13:08] srimontidutta opened #147 "Tweet Emotion Recognition"
Emotion recognition of tweets using TensorFlow.

[2021-03-15 13:21] srimontidutta commented on #13
@ashishsahu1 Thanks! Please check out the PR

[2021-03-15 13:49] #52 closed, assigned to Dhanush2612

[2021-03-15 13:49] ashishsahu1 commented on #52
@Amit366 it was already done, @Dhanush2612 close the issue once it get merged

[2021-03-15 13:50] ashishsahu1 commented on #62
@HOTSONHONET Go for this one

[2021-03-15 13:54] ashishsahu1 commented on #83
@aishwaryachand Do it by today, @Amit366 try a different issue 😅

[2021-03-15 13:56] Amit366 commented on #83
@ashishsahu1 any issue which is open??

[2021-03-15 13:58] ashishsahu1 commented on #147
@srimontidutta someone is already working on this one😅

[2021-03-15 13:58] #147 closed, assigned to nobody

[2021-03-15 13:59] VivanVatsa commented on #105
fixed: added some edits to issue #105

[2021-03-15 14:00] #91 closed, assigned to gopichandpuli9

[2021-03-15 14:01] ashishsahu1 commented on #105
@VivanVatsa This issue is something else, read it out first.. about the changes you have made, first make an issue, get it assigned then send a pr

[2021-03-15 14:01] #105 closed, assigned to codername-123

[2021-03-15 14:04] Amit366 commented on #9
@ashishsahu1 can I work on this one if it is open??

[2021-03-15 14:10] ashishsahu1 commented on #9
@Amit366 Yes it is open start working on it 😀

[2021-03-15 14:12] Amit366 commented on #9
Ok thank you

[2021-03-15 14:12] srimontidutta opened #150 "Solar Power Capacity"
Prediction of the capability of Solar Power Generation in India.

[2021-03-15 14:13] #15 closed, assigned to Amit366

[2021-03-15 14:14] #17 closed, assigned to matrix2131

[2021-03-15 14:15] ashishsahu1 commented on #19
@ParthSingh0506 @Amit366  If you want to work in this issue, then its open you can get it assigned

[2021-03-15 14:16] NEERAJAP2001 commented on #63
Can I do it now @ashishsahu1 🙃
Thanks

[2021-03-15 14:20] ashishsahu1 commented on #23
@rashmitha520 status?

[2021-03-15 14:21] #29 closed, assigned to gopichandpuli9

[2021-03-15 14:22] #39 closed, assigned to Amit366

[2021-03-15 14:22] #40 closed, assigned to nobody

[2021-03-15 14:24] #43 closed, assigned to snehaamenon

[2021-03-15 14:25] #47 closed, assigned to ritikkumar55

[2021-03-15 14:25] #59 closed, assigned to psyduck1203

[2021-03-15 14:25] rashmitha520 commented on #23
I've completed half of it.I'm learning as doing so it'll take a week .I'm running slow due to exams.Please excuse this for 2-3 days.

[2021-03-15 14:26] ashishsahu1 commented on #61
@PavitraAritas status?

[2021-03-15 14:28] #74 closed, assigned to soha28

[2021-03-15 14:28] #75 closed, assigned to Amit366

[2021-03-15 14:29] ashishsahu1 commented on #81
@shantamsultania status?

[2021-03-15 14:29] #82 closed, assigned to Dhanush2612

[2021-03-15 14:30] #83 closed, assigned to aishwaryachand

[2021-03-15 14:31] ashishsahu1 commented on #96
@ritikkumar55 status?

[2021-03-15 14:31] #101 closed, assigned to Ankitasareen

[2021-03-15 14:32] ashishsahu1 commented on #150
@srimontidutta Look good to me, WIll you work on model and backend too? or just model

[2021-03-15 14:43] srimontidutta commented on #150
I will be creating the model as well as enable it to make real-time predictions. So, I guess I'll be working with both of them.

[2021-03-15 14:43] #120 closed, assigned to IronStark007

[2021-03-15 14:45] #65 closed, assigned to NEERAJAP2001

[2021-03-15 14:48] ashishsahu1 commented on #63
@NEERAJAP2001 go for it 😀

[2021-03-15 14:49] ashishsahu1 commented on #23
@rashmitha520 Waiting for this for more 2 days 😄😄

[2021-03-15 14:52] ashishsahu1 commented on #150
@srimontidutta Great, will you flask or streamlit or something else?

[2021-03-15 14:59] PavitraAritas commented on #61
yes, i'll work on it. Thank you.

[2021-03-15 15:02] rashmitha520 commented on #23
thanks!

[2021-03-15 15:10] ritikkumar55 commented on #96
It's almost done sir. Working on readme.md.

[2021-03-15 15:54] psyduck1203 opened #153 "Number Plate Detection"
Detect Number Plates on vehicles based on previous Dataset. This can be integrated with CCTV's so that traffic police can detect the signal or rule breakers and fine them accordingly.

    collect data
    perform preprocessing steps
    cleaning
    build model

[2021-03-15 15:56] sakshi012000 commented on #153
I am a GSSoC participant. Can you please assign me this?

[2021-03-15 15:59] psyduck1203 commented on #153
Sorry, @sakshi012000. I'm also a GSSoC`21 participant and was asking @ashishsahu1 whether I can work on this. You can work on any other issue. Thankyou!

[2021-03-15 16:08] ashishsahu1 commented on #153
@sakshi012000 as this issue is opened by @psyduck1203 he will get priority 😄, you can work on some different issue

[2021-03-15 16:09] psyduck1203 opened #154 "Chatbot using ML"
Maybe at the end of this project, we might create a combined web page to showcase all the projects. There Chatbot might be a good feature to showcase.

[2021-03-15 16:10] psyduck1203 commented on #154
@ashishsahu1 Hey can you assign me this issue?

[2021-03-15 16:23] sakshi012000 opened #155 "Power consumption In India in 2019 and 2020."
I will analyze data for the power consumed in India in 2019 and 2020 and also predict further power consumption.
I am a GSSoC participant. Can I work in this issue?

[2021-03-15 16:29] deepanshudutta743 opened #156 "Using CNN predict soil wetness either soil is wet,dry or extremely wet"
sir,I want to work on this issue can you assign it to me?I am a GSSoC participant.

[2021-03-15 16:39] aishwaryachand commented on #19
Hey Can I work on this issue , if no one is working on it. @ashishsahu1

[2021-03-15 16:41] Amit366 commented on #19
I have started working

[2021-03-15 17:13] ParthSingh0506 commented on #118
@ashishsahu1 Can I work on this Issue?

[2021-03-15 17:23] shantamsultania commented on #81
Hey @ashishsahu1 i am almost done just need to take care of some changes will create a pull request when done i think whole project will be done within 2 days

[2021-03-15 17:23] codername-123 opened #157 "Bank note authentication"

[2021-03-15 17:24] codername-123 commented on #157
Hello , I would like to work on this

[2021-03-15 17:24] codername-123 commented on #157
Hello , I would like to work on this

[2021-03-15 17:25] codername-123 commented on #157
Please assign it to me

[2021-03-15 18:30] ashishsahu1 commented on #61
@PavitraAritas This issue was assigned to you 4days ago, you are expected to complete it within 2 days

[2021-03-15 18:31] ashishsahu1 commented on #154
@psyduck1203 as of now are you already assigned with some issue?

[2021-03-15 18:32] ashishsahu1 commented on #155
@sakshi012000 go for it

[2021-03-15 18:33] ashishsahu1 commented on #156
@dashingdiptu12345 Good one, you can start working on it

[2021-03-15 18:39] ashishsahu1 commented on #118
@ParthSingh0506  may be @prithwirajmitra2001 will work on this one, it would be better if you select some other issue

[2021-03-15 18:40] ashishsahu1 commented on #81
okay @shantamsultania

[2021-03-15 18:41] ashishsahu1 commented on #157
@codername-123 Yes surely you can

[2021-03-15 18:42] ashishsahu1 commented on #157
explain your Idea first

[2021-03-15 18:46] ParthSingh0506 commented on #119
@ashishsahu1 Can I work on this issue?

[2021-03-15 18:50] ParthSingh0506 commented on #154
@ashishsahu1 can I work on this issue?

[2021-03-15 19:06] psyduck1203 commented on #154
@ashishsahu1 Yes I'm assigned with the Number Plate Detection but I have successfully made a PR for the same. So I can fully work on this issue.

[2021-03-16 02:26] codername-123 commented on #157
https://archive.ics.uci.edu/ml/datasets/banknote+authentication
Using this dataset I would like to create a machine learning model which checks the authenticity of a currency note.
I would also like to work with its front-end and back end development

[2021-03-16 03:24] NEERAJAP2001 commented on #63
Hey, @ashishsahu1 I'll go full-stack again can you assign it a Level 3 Label.
Thanks

[2021-03-16 03:37] prithwirajmitra2001 commented on #118
Assign me this issue
@ashishsahu1
Done on working with previous issue. Please check PR #158

[2021-03-16 05:02] PavitraAritas commented on #61
@ashishsahu1 I'm sorry for delaying it due to a couple of reasons and i never knew there was a deadline, I'll finish it by tomorrow. And should I create a separate folder for this?

[2021-03-16 05:23] white-beard commented on #21
Hey, sorry for late response. Could you reassign me this. I have already done the project, I only need to do the pull request.

[2021-03-16 05:40] sakshi012000 commented on #155
@ashishsahu1 Thank you.

[2021-03-16 07:35] #153 closed, assigned to psyduck1203

[2021-03-16 08:03] Dhanush2612 opened #162 "Diabetes Prediction Model"
ML model to predict if a patient has diabetes.

[2021-03-16 10:27] ashishsahu1 commented on #119
@prithwirajmitra2001 You can work on this, @ParthSingh0506 Try some other issue 😄

[2021-03-16 10:29] ashishsahu1 commented on #154
@psyduck1203
go with this one then

[2021-03-16 10:29] ashishsahu1 commented on #157
@codername-123 go ahead 😄

[2021-03-16 10:31] ashishsahu1 commented on #63
@NEERAJAP2001 model for this one is already present in the repo, so you only need to go for backend

[2021-03-16 10:33] ashishsahu1 commented on #118
@prithwirajmitra2001 start working in this one

[2021-03-16 10:35] NEERAJAP2001 commented on #63
Yes, So I'm doing front end as well, I'm planning on deploying as well thoughts @ashishsahu1?
Or only backend is enough?

[2021-03-16 10:36] ParthSingh0506 opened #164 "Face detection using CNN ."
Please Assign me this issue I have already completed Wine Quality Test issue

[2021-03-16 10:37] ParthSingh0506 commented on #164
I have already started working on it

[2021-03-16 10:50] ashishsahu1 commented on #61
@PavitraAritas yes you should, okay try to wrap things fast now 😄, also do read #42 for guidelines

[2021-03-16 10:51] #164 closed, assigned to nobody

[2021-03-16 10:51] ashishsahu1 commented on #21
@white-beard Try to wrap things in the assigned duration, Do your PR 😀

[2021-03-16 10:53] ashishsahu1 commented on #162
@Dhanush2612 Model for this one is already added in main branch, You can work in the backend

[2021-03-16 10:54] ParthSingh0506 opened #165 "Face Detection using CNN"
Please assign me this issue

[2021-03-16 10:54] ashishsahu1 commented on #63
Actually backend is enough but deploying will certain make it more perfect 😄

[2021-03-16 10:55] ashishsahu1 commented on #165
Can you explain your idea @ParthSingh0506

[2021-03-16 10:56] NEERAJAP2001 commented on #63
Okay Cool! So I'll Limit it to the backend for now!! I'll come up with new project ideas !!
Thanks

[2021-03-16 11:16] Dhanush2612 commented on #162
@ashishsahu1 I am sorry, can you explain what you mean by work in backend?

[2021-03-16 11:16] ParthSingh0506 commented on #165
The basic idea behind this is we will going to send the images to the model and from that our model will going to mark/identify the faces on the images .

[2021-03-16 11:32] NEERAJAP2001 opened #166 "Gender Classification Project Using Conv2D"
This is a DL Project for predicting if the given image is Boy/Girl ( Image Recognition )
Find the Data Set  [Here](https://www.kaggle.com/ashishjangra27/gender-recognition-200k-images-celeba).
I will go full-stack from making model to creating front-end for web-app
Idea: I'm planning on using convolutional neural nets, Let's see how it goes.

I'll be working on this as part of the GSSOC-21.
 This

[2021-03-16 12:28] PavitraAritas commented on #61
@ashishsahu1 i'll try my best :)

[2021-03-16 13:07] #117 closed, assigned to prithwirajmitra2001

[2021-03-16 15:04] Sheetal777 opened #167 "Breast Cancer Classification Model"
I have worked on this project and would like to contribute the same.

[2021-03-16 16:09] NEERAJAP2001 commented on #63
I'm not so sure about the Time series backend devolepment!! So, let others take this issue
thanks

[2021-03-16 17:21] khareyash05 commented on #125
@ashishsahu1 Created a PR

[2021-03-16 17:22] ishanailwal opened #170 "Breast cancer Prediction"
Predict whether the tumor is benign or malignant using Logistic Regression. Can I add this?

[2021-03-16 18:10] aishwaryachand opened #172 "Mall Customer Segmentation"
Customer Segmentation using K- Means Clustering .
I would like to work on this issue .Pls assign it to me . @ashishsahu1

[2021-03-16 19:06] aaadddiii opened #173 "Heart disease prediction"
This is a machine learning project that predicts whether a person is affected from heart disease or not . This uses UCL heart disease dataset.

[2021-03-16 19:20] deepanshudutta743 commented on #156
Thank you sir for assign it to me.sir can i provide you the ipython jupyter notebook file?

[2021-03-16 19:27] deepanshudutta743 commented on #156
sir i create my own data set of own captured images of soil,is that fine?

[2021-03-16 19:40] #19 closed, assigned to Amit366

[2021-03-16 19:42] ashishsahu1 commented on #162
By Backend I mean the webapp in which the model will be imported, backend will contain the frontend too

[2021-03-16 19:52] ashishsahu1 commented on #165
@ParthSingh0506 Go for this one 😄

[2021-03-16 19:52] ashishsahu1 commented on #166
@NEERAJAP2001 Looks a great one, Go ahead 😄

[2021-03-16 19:55] ashishsahu1 commented on #167
@Sheetal777 Idea is great, but it's already been done and merged in the repo 😅 try some other issue

[2021-03-16 19:55] #167 closed, assigned to nobody

[2021-03-16 19:57] ashishsahu1 commented on #170
@ishanailwal It's already done and merged in the repo 😄

[2021-03-16 19:57] #170 closed, assigned to nobody

[2021-03-16 19:57] ashishsahu1 commented on #172
@aishwaryachand Surely go for it 🤩

[2021-03-16 19:59] ashishsahu1 commented on #173
Looks good to me 😀

[2021-03-16 20:00] ashishsahu1 commented on #156
@dashingdiptu12345 It would be great if you can, to fasten up your job you can just use google images or some other dataset available in web 😄

[2021-03-16 20:07] ashishsahu1 opened #174 "Emojify"
*Create your own emoji with Python*

The objective of this machine learning project is to classify human facial expressions and map them to emojis.

[2021-03-16 20:08] ashishsahu1 opened #175 "Hindi characters classification"
*Classify hindi characters/letter*

Few datasets
- https://archive.ics.uci.edu/ml/datasets/Devanagari+Handwritten+Character+Dataset
- https://www.kaggle.com/ashokpant/devanagari-character-dataset

[2021-03-16 20:10] ashishsahu1 opened #176 "Speech Emotion Recognition Machine Learning Project"
This is one of the best machine learning projects. The speech emotion recognition system uses audio data.
can identify different emotions like happy, sad, surprised, angry, etc.

**Dataset**
- https://drive.google.com/file/d/1wWsrN2Ep7x6lWqOXfr4rpKGYrJhWc8z7/view

[2021-03-16 20:13] ashishsahu1 opened #177 "Ramen/Noodles Ratings"
**Dataset**
- https://www.kaggle.com/residentmario/ramen-ratings

[2021-03-17 03:45] NEERAJAP2001 commented on #166
@ashishsahu1 I think you forgot to assign it to me, 😛😬
Thanks

[2021-03-17 05:37] deepanshudutta743 commented on #156
ok sir i will try my best but  i cann't find any dataset like that so i use my own images and google images

[2021-03-17 10:10] ashishsahu1 commented on #166
My bad 😅

[2021-03-17 10:33] #125 closed, assigned to khareyash05

[2021-03-17 11:06] srimontidutta commented on #150
I'm still working on its algorithm and workflow, will let you know soon

[2021-03-17 11:10] psyduck1203 commented on #16
Hey, can I work on this issue? Actually, I have a project ready on this topic so I can directly open a pull request for the same.

[2021-03-17 11:28] NEERAJAP2001 commented on #166
Hey, @ashishsahu1  are you working on this?
I thought I should cause I'm working on it already!

Thanks

I Really Have No problems If U want to work on this issue!!
Just let me know then I'll create a new issue 😀

[2021-03-17 11:43] ELITA04 commented on #176
Hi @ashishsahu1,

I worked on this dataset for one of my hackathon.
Here is my .iypnb notebook for the same: https://github.com/ELITA04/Hacklytics-Streamlit/blob/main/notebooks/EmotionClassificationCNN.ipynb

I have also created a streamlit application for the same, if it is okay I can add that as well.

Can you assign it to me?

Thank you

[2021-03-17 16:03] prithwirajmitra2001 commented on #119
@ashishsahu1
Completed previous issue. Check PR #181 .
Please assign me this issue

[2021-03-17 16:17] #173 closed, assigned to aaadddiii

[2021-03-17 16:20] #23 closed, assigned to rashmitha520

[2021-03-17 16:36] AM1CODES commented on #124
#182 Made a PR to solve this issue.

[2021-03-17 17:09] ashishsahu1 commented on #16
@psyduck1203 GO for it

[2021-03-17 17:11] ashishsahu1 commented on #166
@NEERAJAP2001 It's me bad, I have assigned you this one, I got it assigned to me by mistake 😵

[2021-03-17 17:12] rashmitha520 opened #183 "Image Classification"
Different Images' classification through CNN by using CIFAR10 dataset

[2021-03-17 17:12] ashishsahu1 commented on #176
Surely you can 🤩

[2021-03-17 17:15] ashishsahu1 commented on #119
@prithwirajmitra2001 Go with this one 😄

[2021-03-17 17:17] #124 closed, assigned to AM1CODES

[2021-03-17 17:18] ashishsahu1 commented on #183
@rashmitha520 GO ahead 😄

[2021-03-17 18:00] aditya113141 commented on #177
I would like to work on it as a part of GSSOC'21

[2021-03-17 18:15] deepanshudutta743 commented on #156
Sir i have completed my task which things i need to provide you?  I have done it in google collab.

[2021-03-18 04:37] Dhanush2612 commented on #162
@ashishsahu1
What should the webapp do? As I didn't understand what you meant.

[2021-03-18 16:14] Stuti2803 commented on #11
@ashishsahu1 Apologies for the late response. I'm working on the model training.

[2021-03-18 17:29] ashishsahu1 commented on #177
@aditya113141 Go ahead 😄😄

[2021-03-18 17:34] ashishsahu1 commented on #156
@dashingdiptu12345 go through this #42 you will understand most of the things

[2021-03-19 05:59] shantamsultania opened #190 "Text Sentimental Analysis WebApp"
thinking of added a Text Sentimental Analysis Webapp @ashishsahu1

[2021-03-19 06:33] arathib36 opened #191 "Plant disease detection model"
This project involves detecting if a plant has some disease or not, using deep learning techniques.
I am GSSOC'21 participant and I would like to work on this issue.

[2021-03-19 06:47] Amit366 commented on #7
@ashishsahu1 is this issue open?

[2021-03-19 07:03] gpriya32 opened #192 "Video on Getting started with ML ProjectYard"
Video On getting started with Github
How to make a pull request on Ml ProjectYard
Specifying key points of Readme

[2021-03-19 09:39] NEERAJAP2001 opened #193 "Classifying imagenet Images and Classes"
Tasks Include :
* Create a Vgg-19 Model for classifying imagenet images
* Create a simple web app with Flask and Html/CSS/Js
* Upload an image to predict the class of the image.

    Dataset-[Here](https://www.tensorflow.org/datasets/catalog/imagenet2012)

The dataset will be loaded in the code itself, We do not require any manual downloading as it's huge around 15GB.

It has over 200 classes with

[2021-03-19 11:01] Niketkumardheeryan opened #195 "Multi class classification on Business analytics Datasets."
Create a Machine learning or deep learning model to classify more than two classes.

[2021-03-19 11:02] Niketkumardheeryan commented on #195
.

[2021-03-19 11:13] Niketkumardheeryan opened #196 "Automate Data Preprocessing step for Machine learning models."
Create a class or library to handle the data preprocessing step & upload it on the PyPi repository. So that one install it by using Pip command.
Ex.  pip install <name of library >.

[2021-03-19 14:45] ashishsahu1 commented on #162
@Dhanush2612 It's quite basic, search for backend for ml, you will get many tutorials 😄

[2021-03-19 15:05] #157 closed, assigned to codername-123

[2021-03-19 17:28] codername-123 opened #198 "Making a webapp for iris flower classification and updating projects in readme"

[2021-03-19 17:28] codername-123 commented on #198
Hello , I would like to work on this issue
Please assign it to me

[2021-03-19 17:52] gpriya32 commented on #198
@codername-123 its not part of Gssoc

[2021-03-19 17:55] gpriya32 commented on #4
@Naman2104 provide ur updates asap

[2021-03-19 18:11] Naman2104 commented on #4
Requirements and setup not clear, So can't able to continue further.

[2021-03-19 18:12] AshuKV commented on #196
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-19 18:12] AshuKV commented on #195
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-20 01:45] codername-123 commented on #198
@gpriya32  what are you stating

[2021-03-20 03:42] vaibhavarora102 commented on #198
@codername-123  you can start working over this issue

[2021-03-20 03:44] vaibhavarora102 commented on #191
Can you please state the dataset source in below comments, it would give us more description about the project itself

[2021-03-20 03:46] #122 closed, assigned to nobody

[2021-03-20 03:52] vaibhavarora102 commented on #162
@Dhanush2612  if you wish to work on the backend part for this could comment on that issue
for now, I am closing issue

[2021-03-20 03:52] #162 closed, assigned to nobody

[2021-03-20 04:37] aj7tt commented on #174
🚀hello, I am a member if Gssoc'21. plz assign me this issue, I will do this earliest as possible

[2021-03-20 05:43] khusheekapoor commented on #22
Is this issue still open?

[2021-03-20 05:46] #166 closed, assigned to NEERAJAP2001

[2021-03-20 05:46] ashishsahu1 commented on #190
@shantamsultania Go ahead,

[2021-03-20 05:49] ashishsahu1 commented on #7
@Amit366 It's done

[2021-03-20 05:49] #7 closed, assigned to nobody

[2021-03-20 05:50] codername-123 commented on #22
@khusheekapoor
  I am sorry but I forgot to close the issue but if you think there is something that needs to be fixed in contributing.md you can open a new issue

[2021-03-20 05:50] #22 closed, assigned to nobody

[2021-03-20 05:54] #114 closed, assigned to captainra1

[2021-03-20 05:55] NEERAJAP2001 commented on #193
@ashishsahu1 what are you're thoughts?

[2021-03-20 06:52] ashishsahu1 commented on #193
Looks good to me Will you work the model+backend or only on model for now?

[2021-03-20 06:54] arathib36 commented on #191
I'll be using this dataset : https://www.kaggle.com/emmarex/plantdisease
Both healthy and diseases affected plant images are present in the dataset

[2021-03-20 06:55] NEERAJAP2001 commented on #193
Hey  @ashishsahu1 I'm already working on the model and the backend template is anyway ready Because of the previous PR so, It's a full-stack Web app again.
Thanks

[2021-03-20 07:02] vaibhavarora102 commented on #191
you are good to proceed now

[2021-03-20 10:05] Manasi2001 opened #203 "Fashion MNIST Clothing Classification"
I would like to work on this by making a CNN. Please assign this to me.

[2021-03-20 12:38] #81 closed, assigned to shantamsultania

[2021-03-20 15:36] Niketkumardheeryan commented on #196
sure......

[2021-03-20 16:12] Rutikab12 opened #206 "Customer churning prediction"
I want to work on this project where , it will predict whether a customer of a bank is going to churn or not. Can i work on this as gssoc'21 participant?. @ashishsahu1

[2021-03-20 17:34] subhangi2731 commented on #175
can you please assign me this issue @ashishsahu1

[2021-03-21 06:19] AM1CODES opened #207 "New Project Idea : Twitch Top Streamer's analysis"
A few months back i had put together the data of top streamers on popular streaming platform - Twitch. It was taken from a website and put together in a CSV file. It's more of analysis oriented project and does not involve much modeling but i had applied linear regression on it anyway. Please let me know if i can add it to the repository. It's a unique project which i think will be a great additio

[2021-03-21 10:54] vaibhavarora102 opened #208 "Sentment annalysis using facial expression"
- scrap data or find data set
- data cleaning and information extraction
- ml model training

[2021-03-21 16:19] Amit366 commented on #111
@ashishsahu1 is this issue open??

[2021-03-21 16:28] ashishsahu1 commented on #195
@AshuKV Surely you can

[2021-03-21 16:29] ashishsahu1 commented on #111
@Amit366 It's not

[2021-03-21 16:29] #111 closed, assigned to Sheetal777

[2021-03-21 16:30] ashishsahu1 commented on #174
@Aj7t Go for this one 😄

[2021-03-21 16:32] ashishsahu1 commented on #207
@AM1CODES Great Idea, You can surely work on this one

[2021-03-21 16:34] ashishsahu1 commented on #193
@NEERAJAP2001 Go for it

[2021-03-21 16:48] Amit366 opened #209 "Butterfly Classification"
Classification of butterfly.
The dataset contains images and textual descriptions for ten categories (species) of butterflies and the model finds the accuracy.

Please assign this issue to me.

[2021-03-21 17:21] AM1CODES commented on #207
I will start working on it right away.

[2021-03-21 18:38] rashmitha520 opened #210 "Interactive drawing with sketchRNN"
A web app with pre-trained SketchRNN machine learning model (available with the ml5.js library) to create a p5.js sketch that finishes a person’s drawing.

[2021-03-21 19:13] Gautam204 opened #211 "Spotify EDA"
This project will analyze the Spotify data.(Considering various parameters like track Id, loudness, duration etc.). I would like to work on this issue under GSSOC'21 @ashishsahu1 can you please assign this to me.

[2021-03-22 05:45] RohiniRG commented on #208
Can I work on this issue, I will be using opencv and keras to recognise faces and develop the model for this issue. I am a participant of GSSoC'21.

[2021-03-22 05:54] iamakkkhil opened #212 "Drowsiness detection with OpenCV"
a computer vision system that can automatically detect driver drowsiness in a real-time video stream and then play an alarm if the driver appears to be drowsy

By using Real-Time Eye Blink Detection using Facial Landmarks http://vision.fe.uni-lj.si/cvww2016/proceedings/papers/05.pdf.

I am GSSOC 21 participant and would like to work on this issue.

[2021-03-22 05:58] AM1CODES commented on #207
I Made a PR to resolve the issue #213

[2021-03-22 06:08] AM1CODES opened #214 "New Project Idea: Kaggle 2020 Survey Analysis"
Recently Kaggle conducted a competition in which the users had to conduct analysis on their annual survey that they get every year. I participated in the competition and carried out extensive EDA to understand the whole survey and get some insights from it. I have made a notebook on the same. I think it suits the purpose of this repo and i wished to know if i could add it here.

[2021-03-22 11:32] Niketkumardheeryan opened #215 "Android + Machine learning Model"
Make a Simple Android app cum Machine learning model. or you have to create a ML /DL model and use it in the android app.

[2021-03-22 11:48] ashishsahu1 commented on #203
@Manasi2001 You can work on this one

[2021-03-22 11:51] ashishsahu1 commented on #206
@Rutikab12 You surely can, can you provide the dataset in which you will be working

[2021-03-22 11:51] ashishsahu1 commented on #175
@subhangi2731 Go for this one

[2021-03-22 11:52] ashishsahu1 commented on #209
@Amit366 Good one, go ahead

[2021-03-22 11:53] #183 closed, assigned to rashmitha520

[2021-03-22 11:54] ashishsahu1 commented on #210
@rashmitha520 I have not worked in this one 🤩

[2021-03-22 11:56] #198 closed, assigned to codername-123

[2021-03-22 11:58] #9 closed, assigned to nobody

[2021-03-22 11:59] ashishsahu1 commented on #211
@Gautam204 Go ahead 😄

[2021-03-22 16:10] Rutikab12 commented on #206
yeah. Should I email you ?, if you provide me your email.

[2021-03-22 17:29] srimontidutta commented on #150
@ashishsahu1 I'm trying to use a particular library in the prediction of my model and I tried multiple methods to install it since I was getting errors every time. I think it may be because some of the files from the previous trial still exist. What should I do to uninstall all files from previous installations?

[2021-03-22 17:52] VivanVatsa opened #219 "implementation of data-scientist Salary Estimator"
Hi, I am a GSSOC'21 participant.

I will be making a **data scientist salary estimator** analyzing the mean absolute error out of scraped data from glassdoor.
what will my project contain:
- scraped datasets from Glassdoor search for "Data Scientist Jobs"
- with the help of selenium, will have scraped salary as the dataset
- Cleaned data for ease of understanding
- Exploratory Data Analysis (EDA):

[2021-03-22 20:22] vaishnavipatil29 opened #220 "New Project Suggestion: Sign Language Detection"
I would like to work on Sign Language Detection using CNN. Please assign it to me.

[2021-03-22 23:04] aishwaryachand commented on #133
Hey ,Can I work on this issue? (if no one is working on it) I am a gssoc21' participant.

[2021-03-22 23:22] Ismail-Farahat opened #222 "Contributing to Covid-19 Analysis"
**I want to contribute and to be assigned to this project. I will use python as my primary language to analyze the data and find the factors that was responsible for spreading the virus then making report with the analysis results.**

## Background
I made analysis model before for covid-19 spread for probability course in my collage (data was updated until 4 Apr 2020).

**The purpose of this analy

[2021-03-23 02:49] aj7tt commented on #174
Thankyou 😇 @ashishsahu1 , I will do this asap. 🚀

[2021-03-23 05:21] vaibhavarora102 commented on #208
I was in view of sentiment analysis of textual data
but yes, this also looks nice ad you can proceed
assigning to you @RohiniRG

[2021-03-23 09:40] aditya113141 commented on #177
I think we can close it now.

[2021-03-23 11:47] Rutikab12 commented on #206
Hey @ashishsahu1 can i start working on the project. The dataset contain the data of the bank which includes monthly balance,yearly balance, customer is salaried or not,etc... and wants to know , who are the customers are going to leave the bank based on various categories. That was brief about the dataset i am going to work on.

[2021-03-23 12:27] shantamsultania commented on #190
as it is merged i am closing this issue @ashishsahu1

[2021-03-23 12:27] #190 closed, assigned to shantamsultania

[2021-03-23 13:41] Manasi2001 opened #223 "Ames House Price Prediction"
I would like to work on this using Linear Regression. Please assign it to me.

[2021-03-23 14:53] #207 closed, assigned to AM1CODES

[2021-03-23 18:21] ParthSingh0506 commented on #165
@ashishsahu1 I have created a PR kindly check it .

[2021-03-23 18:22] AM1CODES commented on #214
The data set i have been working with - [https://www.kaggle.com/c/kaggle-survey-2020](url)
Ps - i am a GSSOC'21 participant.

[2021-03-23 18:37] goelesha opened #225 "Predicting the costs of used cars"
I am a GSSoC participant. I would like to contribute the code for predicting the cost of used cars given the data collected from various sources and distributed across various locations in India.

[2021-03-23 18:42] goelesha opened #226 "To study effect of external factors on Student's performance"
I am a GSSoC participant and I would like to contribute code and analyze how the student's performance (test scores) is affected by the other variables (Gender, Ethnicity, Parental level of education, Lunch, Test preparation course).

[2021-03-23 18:51] goelesha opened #227 "Predicting first innings score in ODI"
I am a GSSoC participant and would like to contribute code for this.

[2021-03-24 03:15] AryaPatel1111 opened #228 "Addition of Pneumonia Prediction"
I would like to add Pneumonia prediction project which uses Neural networks into this projectyard.

[2021-03-24 09:16] Sumhack opened #231 "Retail store analysis"
I would do a project to perform Exploratory Data Analysis’ on a dataset of a retail store. This analysis will help a business manager to look into weak areas of his/her store and improve them.

[2021-03-24 14:38] Amit366 commented on #209
![Screenshot (126)](https://user-image .githubusercontent.com/60662775/112328844-aee6ff00-8cdc-11eb-8fa1-82678251e42c.png)

[2021-03-24 14:39] Amit366 commented on #209
![Screenshot (126)](https://user-images.githubusercontent.com/60662775/112328906-bf977500-8cdc-11eb-8983-4a2eb8d2c992.png)

@ashishsahu1 Please help me solve this error?

[2021-03-24 16:35] ashishsahu1 commented on #220
@vaishnavipatil29 looks great Idea, can you mention which dataset will you use?

[2021-03-24 16:35] ashishsahu1 commented on #219
@VivanVatsa Go ahead

[2021-03-24 16:37] ashishsahu1 commented on #150
Making a new environment (conda, python any) for every single is a good practice to avoid these problems

[2021-03-24 16:38] ashishsahu1 commented on #212
@iamakkkhil Looks good to me

[2021-03-24 18:39] ashishsahu1 commented on #133
@aishwaryachand I am assigning this one to you, but first make the changes asked in your previous PR

[2021-03-24 18:51] ashishsahu1 commented on #222
@Ismail-Farahat You Idea seems to be good to me, but a covid analysis is already present in the repo, you can work on some improvement on the same, also you can build a webapp dashboard for covid analysis..

[2021-03-24 18:51] #222 closed, assigned to nobody

[2021-03-24 18:56] ashishsahu1 commented on #177
@aditya113141 Yes Aditya, once your solution for an issue is merged close that issue

[2021-03-24 18:56] #177 closed, assigned to aditya113141

[2021-03-24 18:57] ashishsahu1 commented on #206
@Rutikab12 You are already assigned to this project, You can surely work in this issue, also my mail id is mentioned in README.md

[2021-03-24 18:58] ashishsahu1 commented on #223
@Manasi2001 Go for this

[2021-03-24 19:01] ashishsahu1 commented on #214
@AM1CODES This seems good to me, assigning you

[2021-03-24 19:02] ashishsahu1 commented on #225
@goelesha Go for it

[2021-03-24 23:56] aishwaryachand commented on #133
changes made in the pr as asked

[2021-03-25 04:07] vaibhavarora102 commented on #208
@RohiniRG  any update?

[2021-03-25 04:12] RohiniRG commented on #208
Yeah, I am working on it... Will update as soon as I am done.

[2021-03-25 04:40] #203 closed, assigned to Manasi2001

[2021-03-25 05:06] Rutikab12 commented on #206
Okay. I have finished working on the issue. Today i will be ready with my PR.

[2021-03-25 07:08] AM1CODES commented on #214
Thank you @ashishsahu1 can you also add the labels please?

[2021-03-25 07:33] tarannum-perween commented on #215
Hello I want to work on this issue please assign it to me(GSSOC'21)

[2021-03-25 11:09] ParthSingh0506 commented on #165
@ashishsahu1 Please check the PR and merge it .

[2021-03-25 14:05] Niketkumardheeryan commented on #215
sure..

[2021-03-25 14:19] Niketkumardheeryan opened #237 "Any classification using Graph neural Network (GNN)"

[2021-03-25 19:16] ashishsahu1 commented on #226
@goelesha Good one, go for it

[2021-03-26 05:42] srimontidutta commented on #150
I tried but still stuck on the same problem. I'll need a bit more time for this it seems, maybe I'll have to reinstall conda all over again

[2021-03-26 06:08] vaishnavipatil29 commented on #220
@ashishsahu1 I will use [https://www.kaggle.com/belalelwikel/asl-and-some-words?select=ASL](https://www.kaggle.com/belalelwikel/asl-and-some-words?select=ASL) Dataset.

[2021-03-26 06:09] vaishnavipatil29 commented on #220
@ashishsahu1 Can you assign it to me?

[2021-03-26 06:52] Amit366 commented on #237
@Niketkumardheeryan can I work on this issue??

[2021-03-26 07:18] goelesha commented on #225
Also kindly add the labels to this issue. I am a GSSoC 2021 participant.

[2021-03-26 07:43] #165 closed, assigned to ParthSingh0506

[2021-03-26 11:05] #211 closed, assigned to Gautam204

[2021-03-26 11:08] ashishsahu1 commented on #228
@AryaPatel1111 Do you want to work in both model and backend?

[2021-03-26 11:09] ashishsahu1 commented on #227
@goelesha can you attach the dataset you will be working with, and also explain about your Idea

[2021-03-26 11:10] ashishsahu1 commented on #231
@Sumhack can you link the dataset you will be working with? also explain your Idea a little bit more

[2021-03-26 11:19] ashishsahu1 opened #241 "Updating Index in README.md"
- add the missing projects that are present in the main branch to README.md's index

[2021-03-26 11:32] goelesha commented on #227
The dataset is already attached with the jupyter notebook. The idea is explained inside the notebook. If required I will share the same over here. Pls let me know

[2021-03-26 11:39] goelesha commented on #227
Problem Statement: Predict the first Innings score in a ODI
Tasks:
1.Use “groupby” operation, to find the average number of runs, scored by each country,
and represent it on a bar graph.<br>

2.Handle Missing values:
    a. If there are null values in continuous numerical column, replace the null values by
        the mean of that column
    b. If there are null values in ordinal numerical column,

[2021-03-26 19:54] aishwaryachand commented on #241
Hey Can I work on this issue?I will finish it asap

[2021-03-27 05:27] #118 closed, assigned to prithwirajmitra2001

[2021-03-27 06:00] Sumhack commented on #231
[SampleSuperstore.xlsx](https://github.com/ashishsahu1/ML-ProjectYard/files/6215165/SampleSuperstore.xlsx)
I have linked the dataset. This dataset contains info about the sales, discount, profit, and ship mode of different goods along with the states and cities to which the goods are being sent. I would analyze the weak areas which needs to be focussed on to maximise the sales and profits.

[2021-03-27 07:19] Ayush-Parhi opened #243 "New Project for the Face Mask Detection"
Hello, I am a GSSOC'21 participant and I would like to contribute to this project.
I went through the different projects in the repository and I find the " Face Mask Detection" project in the list.
When I saw the project, I found out that it is not very good attempt to the face mask detection. The documentation is also confusing and not well detailed. The model used is not very good and in fact th

[2021-03-27 11:42] NEERAJAP2001 opened #244 "Car Brand Classification using Resnet50"
Create a Car Brand Classification Project
Tasks:

* Uses Deep learning to detect car brands
* I'm assuming to solve this using resnet50( transfer learning ) but let's see how it goes.
* Dataset consists of Images of 3 different brands ( I'll give the dataset for download in a separate folder)

I'd Like to work on this issue as part of GSSOC-21.

[2021-03-27 13:58] AryaPatel1111 commented on #228
Only the model part. I can create a pickle file for it.

[2021-03-27 14:29] Sumhack commented on #231
I had updated the dataset and the detail in the issue section of GitHub
project repository

On Fri, Mar 26, 2021 at 4:40 PM Ashish Sahu ***@***.***>
wrote:

[2021-03-27 16:31] soha28 opened #246 "Driver Drowsiness Detection system"
The objective of this project is to build a drowsiness detection system that will detect that a person’s eyes are closed for a few seconds. This system will alert the driver when drowsiness is detected.
In this project, OpenCV will be used for gathering the images from webcam and feed them into a Deep Learning model which will classify whether the person’s eyes are ‘Open’ or ‘Closed’.

I want to w

[2021-03-27 18:57] Aditi0102 opened #247 "Text Translation model"
I want to build a text translation model which will convert any language to english. Currently I would like to train a model using LSTM to convert german into english.
Please assign me this issue under GSSOC'21

[2021-03-27 19:45] Ismail-Farahat opened #248 "Adding Regression Models to Covid19 Analysis"
**I want to contribute to covid-19 analysis model by adding data for weather conditions in four countries then build regression model (linear and non linear) for the relations between weather conditions and cases number in a given day**

[2021-03-28 11:01] #209 closed, assigned to Amit366

[2021-03-28 11:02] #154 closed, assigned to psyduck1203

[2021-03-28 11:03] ashishsahu1 commented on #227
Start working on this one 😁

[2021-03-28 11:06] #214 closed, assigned to AM1CODES

[2021-03-28 11:09] #206 closed, assigned to Rutikab12

[2021-03-28 11:10] ashishsahu1 commented on #225
@goelesha Labels are important in your PRs, don't worry about them 😊

[2021-03-28 11:12] ashishsahu1 commented on #220
@vaishnavipatil29 Sure 😀, go for this one

[2021-03-28 11:17] #193 closed, assigned to NEERAJAP2001

[2021-03-28 11:45] AM1CODES opened #250 "New Project Idea: Campus recruitment analysis and modeling"
I found a data set on Kaggle which i think will turn into a great web app. It's a dataset that contains data about various scores of students and different features which determine whether they get placed during campus placement or not.  I am planning to apply different models to it and not just one model and compare the results of all. Please let me know if i can work on this.

Dataset - https://

[2021-03-28 13:08] ashishsahu1 commented on #241
@aishwaryachand Sure go for it

[2021-03-28 13:10] #172 closed, assigned to aishwaryachand

[2021-03-28 17:19] iamakkkhil commented on #246
Hey, I have been assigned to the same project already.  You can check issue no. #212

[2021-03-28 19:12] ayush-raj8 opened #252 "Addition of Time Series Forecasting of Active Covid 19 cases"
Hi , I'm a participant here . I wanted to add a time series forecasting notebook of active covid 19 cases. This will take the input of covid 19 data till and will forecast for next 3 weeks . @ashishsahu1 I wanted to work on this , it would be great if u could assign me this.

[2021-03-29 07:21] Amit366 opened #258 "Flight Fare Prediction"
I will be creating a web app where by entering the details one can know the flight fare

dataset: https://www.kaggle.com/nikhilmittal/flight-fare-prediction-mh/

[2021-03-29 08:31] gpriya32 commented on #258
@Amit366 sure u can work on it

[2021-03-29 08:38] #246 closed, assigned to nobody

[2021-03-29 08:40] gpriya32 commented on #248
which dataset u are going to use?

[2021-03-29 08:43] gpriya32 commented on #244
@NEERAJAP2001 sure u can work on it.

[2021-03-29 09:00] gpriya32 commented on #250
@AM1CODES sure u can work on it.

[2021-03-29 09:21] AM1CODES commented on #250
@gpriya32 Thank you, i will start working on it and keep updating you about the progress.

[2021-03-29 09:56] IronStark007 opened #261 "Improve: IPL Analysis project"
Hello @ashishsahu1 Sir, I want to improve the  ML-ProjectYard/IPL_Analysis Project by adding more visualization and EDA in terms of best/worst player, batsman, bowler, wicket keeper and much more
Please assign me this task
Thank You.

[2021-03-29 12:14] NEERAJAP2001 commented on #244
@gpriya32 Can this issue get "Level3 Tag" ? as I'm working full-stack, from the model to the web-app.
I'm sorry I forgot To mention it in the first comment.

[2021-03-29 14:11] vaishnavipatil29 commented on #220
@ashishsahu1 Please check the issue.

[2021-03-29 18:34] Ismail-Farahat commented on #248
I am going to use data that I collected my self from www.accuweather.com website.

**Data Link:**
[Data in this link is collected to 12 Apr. 2020](https://drive.google.com/drive/folders/1wBRI0Eakhi9pYrt9T0wZbZCJOCgNuLtk?usp=sharing)

[2021-03-29 18:36] Ismail-Farahat commented on #248
I am going to use the data provided by www.accuweather.com website.

**Data Link: (I collected them by my self)**
[Data to 12 Apr. 2020](https://drive.google.com/drive/folders/1wBRI0Eakhi9pYrt9T0wZbZCJOCgNuLtk?usp=sharing)

[2021-03-30 11:46] #241 closed, assigned to aishwaryachand

[2021-03-30 11:48] #225 closed, assigned to goelesha

[2021-03-30 11:49] ashishsahu1 commented on #228
@AryaPatel1111 go for it

[2021-03-30 11:51] ashishsahu1 commented on #243
@Ayush-Parhi Go ahead, Name your project folder as *Face mask detection 2* and work inside it 😀

[2021-03-30 11:56] ashishsahu1 commented on #247
@Aditi0102 Go for it 😀

[2021-03-30 11:57] #212 closed, assigned to iamakkkhil

[2021-03-30 11:58] #119 closed, assigned to prithwirajmitra2001

[2021-03-30 12:00] #220 closed, assigned to vaishnavipatil29

[2021-03-30 12:05] ashishsahu1 commented on #252
@ayush-raj8
There is a project on covid analysis already in the repo, you have to explain what different you could add up or what new will be there in your version

[2021-03-30 12:06] #208 closed, assigned to RohiniRG

[2021-03-30 13:32] Ayush-Parhi commented on #243
I have created a PR regarding this issue, kindly review it.

[2021-03-31 03:28] ayush-raj8 commented on #252
@ashishsahu1 The present repo of covid 19 visualizes no of cases in different country and maximum infection rate.
I  would like to add forecasting of covid19 active cases , deaths  , recoveries for next 3 weeks for India based on the cumulative data present .

[2021-03-31 06:44] iamakkkhil opened #270 "Sign Language Prediction"
This script will predict numbers and characters from the image of various hand gestures used in sign language.
I am GSSoC participant, I would like to work on this issue kindly assign me the same @ashishsahu1.

[2021-03-31 07:26] RohiniRG opened #271 "H1B visa prediction"
Using the dataset of 5 years available in kaggle (https://www.kaggle.com/nsharan/h-1b-visa?select=h1b_kaggle.csv) and by analysing all the attributes in it, the script will determine a person's visa will be accepted or denied.
I would like to work on this issue. Could you kindly assign it to me @ashishsahu1 .
I am a GSSoC'21 participant.

[2021-03-31 10:07] gpriya32 commented on #248
Sure go for it

[2021-03-31 10:08] gpriya32 commented on #244
Sure

[2021-03-31 10:10] gpriya32 commented on #271
which part u want to work on model or full stack?

[2021-03-31 15:08] Amit366 opened #274 "Forest fire prediction"
I am a GSSOC participant and would like to make a model and web app of forest fire prediction. My model determines whether the forest fire will occur or not depending on temperature, oxygen levels and humidity.

@ashishsahu1 please assign me this issue.

[2021-03-31 17:56] pavankumaretta commented on #274
Hey Folk !!
Found Great REPO which have a previous experience for me assign it to me I will do this in the best possible way. Thanks !!

[2021-03-31 18:32] RohiniRG commented on #271
For now I will focus on the model

[2021-03-31 18:54] pavankumaretta commented on #196
Sir, can I work on this issue please if it has been not done yet because  I have learned this issue in learning journey and I can solve this issue in 2 days.
Thanks !!

[2021-03-31 19:03] pavankumaretta commented on #261
Sir, I have good experience in Exploratory data analysis please assign it to me I can show analysis of the matches in the best possible way.
Thanks !!!

[2021-03-31 19:16] AshuKV commented on #196
Hey @Elizah550 we can collaborate on this issue, let me know how can we connect.

[2021-04-01 09:21] pavankumaretta commented on #196
Yaa sure You can connect me through Discord: Pavan Kumar(P)#8378

[2021-04-01 09:58] Niketkumardheeryan opened #275 "Image captioning Using deep Learning techniques ."

[2021-04-01 10:00] Niketkumardheeryan opened #276 "Banana Leaf disease detection using deep learning"

[2021-04-01 10:04] Niketkumardheeryan opened #277 "Visual tracking system"
A visual tracking system is designed to track and locate moving object(s) in a given time frame via a camera. It is a handy tool that has numerous applications such as security and surveillance, medical imaging, augmented reality, traffic control, video editing and communication, and human-computer interaction.

[2021-04-01 10:08] Niketkumardheeryan opened #278 "Create a Unique & attractive Readme.md file for this Project."

[2021-04-01 10:13] Niketkumardheeryan commented on #274
Hi @Amit366 , Now you can work on this issue... Best of luck.

[2021-04-01 10:16] Niketkumardheeryan commented on #270
Hi @iamakkkhil ,now you can start woking,

[2021-04-01 12:42] RohiniRG commented on #271
@ashishsahu1 any suggestions?

[2021-04-01 14:16] prithwirajmitra2001 opened #279 "Automatic Number Plate Detection using YOLO and Google Tesseract"
Would like to work on this issue using either in google colab or kaggle notebooks for better use for everyone.
Please assign me this project as part of GSSOC'21

[2021-04-01 17:16] #226 closed, assigned to goelesha

[2021-04-01 17:17] #227 closed, assigned to goelesha

[2021-04-01 17:17] #243 closed, assigned to Ayush-Parhi

[2021-04-01 17:20] ashishsahu1 commented on #252
@ayush-raj8 go for this one

[2021-04-01 18:56] A-kriti opened #280 "Sketch with colors filter"
Want to add a new feature that actually converts an image into a colorful sketch-filtered image.

[2021-04-01 19:00] A-kriti commented on #280
@ashishsahu1 Sir, Please assign this to me!

[2021-04-02 04:10] Amit366 commented on #275
@Niketkumardheeryan can I work on this issue??

[2021-04-02 08:11] NEERAJAP2001 opened #281 "Cotton disease Prediction using DL"
Tasks:

* Uses Deep learning to detect diseases on cotton plants.
* I'm assuming to solve this using transfer learning.
* Dataset consists of Images of 3 different brands ( I'll give the dataset for download in a separate folder).
* Build an End to End Web-application with flask as backend.
I'd Like to work on this issue as part of GSSOC-21.

[2021-04-02 10:01] vi-hna-ja opened #282 "Pneumonia Classification using Deep Learning"
Tasks

* Detecting Pneumonia in Chest X-ray Images using CNNs and Pre-trained Models in Tensorflow
* Dataset consists of 5800+ images
* I'm thinking of building the model using InceptionV3.

I'd Like to work on this issue as part of GSSOC-21.

[2021-04-02 12:57] Sreelayavuyyuru commented on #278
I want to work on this.
Do you have any specifications on how the readme should look?

[2021-04-03 03:05] Amit366 commented on #258
@ashishsahu1 @Niketkumardheeryan please review my PR

[2021-04-03 03:05] Amit366 commented on #237
@Niketkumardheeryan please review my PR.

[2021-04-03 03:06] Amit366 commented on #274
@Niketkumardheeryan please can you give the level tag

[2021-04-03 05:24] AM1CODES commented on #250
#283 I have made the PR for the issue here.

[2021-04-03 06:33] #244 closed, assigned to NEERAJAP2001

[2021-04-03 12:21] #250 closed, assigned to AM1CODES

[2021-04-03 12:22] #258 closed, assigned to Amit366

[2021-04-03 12:25] gpriya32 commented on #279
@prithwirajmitra2001  you are going to work on only the model part right?

[2021-04-03 12:27] gpriya32 commented on #275
@Amit366 I think you are currently on some other issue right?

[2021-04-03 12:28] gpriya32 commented on #271
sure go ahead ......:)

[2021-04-03 12:29] Amit366 commented on #275
@gpriya32 I have almost finished that and will make the Pr tomorrow

[2021-04-03 12:31] gpriya32 commented on #280
@A-kriti are u going to make only a model or app (full stack)?

[2021-04-03 12:32] gpriya32 commented on #280
you can work on it. :)

[2021-04-03 12:34] gpriya32 commented on #281
Sure go-ahead 🥇

[2021-04-03 12:35] gpriya32 commented on #282
sure go-ahead 😄

[2021-04-03 15:38] prithwirajmitra2001 commented on #279
Yes, I will be working on the model part

[2021-04-03 17:42] #237 closed, assigned to Amit366

[2021-04-03 17:58] Amit366 commented on #275
Can I work ??

[2021-04-04 03:10] AM1CODES opened #287 "New Project Idea : Adding Clean v/s Messy room classifier"
Recently i was  working on a project for a Hackathon and came across a data set which contained images of a clean room and a messy room . Using this data i came up with a Deep learning model that classifies between clean and messy room. Please let me know if i can add that project to the repo.

This was the dataset i used - https://www.kaggle.com/cdawn1/messy-vs-clean-room

Thank you.

PS - I am a

[2021-04-04 05:16] A-kriti commented on #280
@gpriya32 ma'am, The result is like this!

![Screenshot (378)](https://user-images.githubusercontent.com/73133055/113499308-9e335600-9532-11eb-8b4d-0c65631a4d74.png)

[2021-04-04 06:18] aasthasaxena217 commented on #287
Please assign this issue to me

[2021-04-04 06:21] aasthasaxena217 commented on #4
Please assign this issue to me

[2021-04-04 09:54] #280 closed, assigned to A-kriti

[2021-04-04 10:11] aasthasaxena217 commented on #278
I want to work this issue , I can design the read me file with html css

[2021-04-04 13:21] Niketkumardheeryan commented on #278
There are no specifications but it must be unique and attractive ..

[2021-04-04 13:52] Niketkumardheeryan opened #289 "Face generation Using GAN"

[2021-04-04 13:58] Niketkumardheeryan opened #290 "Classification of GitHub Issues Using Machine learning"

[2021-04-04 17:11] vaishnavipatil29 commented on #220
@ashishsahu1 Okay

[2021-04-04 17:44] AshuKV commented on #290
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-05 06:12] NEERAJAP2001 commented on #289
@Niketkumardheeryan Can I work on this issue, I would be using [This](http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html) Data set to generate faces of celebrities using DCGAN.( will be following the total pipeline)

[2021-04-05 06:58] iamansoni commented on #278
Is this issue still needs to be addressed, If yes you can assign it to me!

[2021-04-05 13:56] Amit366 commented on #275
@Niketkumardheeryan please assign me this issue.

[2021-04-05 15:56] Amit366 commented on #277
@Niketkumardheeryan can I work on this issue??

[2021-04-05 16:33] i-shreyagarg commented on #290
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:33] i-shreyagarg commented on #282
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:33] i-shreyagarg commented on #281
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:33] i-shreyagarg commented on #278
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:33] i-shreyagarg commented on #276
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:33] i-shreyagarg commented on #274
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:34] i-shreyagarg commented on #271
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:34] i-shreyagarg commented on #270
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:35] i-shreyagarg commented on #248
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:35] i-shreyagarg commented on #247
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:36] i-shreyagarg commented on #219
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:37] i-shreyagarg commented on #195
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:37] i-shreyagarg commented on #191
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:38] i-shreyagarg commented on #175
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:38] i-shreyagarg commented on #174
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:38] i-shreyagarg commented on #156
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:38] i-shreyagarg commented on #155
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:38] i-shreyagarg commented on #150
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:38] i-shreyagarg commented on #133
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:38] i-shreyagarg commented on #129
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:43] NEERAJAP2001 commented on #281
Hey @einhawking thanks for your interest but the issue has an associated PR (it solves)
I'd reckon to come up with a new project idea and Make an issue.
Thanks

[2021-04-05 16:50] Niketkumardheeryan commented on #289
sure..

[2021-04-05 16:51] Niketkumardheeryan commented on #276
Hey @einhawking ,stop commenting on every issue just choose one.

[2021-04-05 17:16] VivanVatsa commented on #219
I have been working on it for a week now
the data rendering and model building is taking a little bit extra time
will be pushing the project as soon as the model rendering gives utmost accuracy

[2021-04-05 17:38] pavankumaretta commented on #274
I want to contribute to this please assign it to me.I can do this in 3 hrs of time.
Thanks !!!

[2021-04-05 19:42] aishwaryachand commented on #133
Hey i am currently working on it ...started a bit late because I was stuck with some other issue in this repo..would try to finish it as soon as possible.

[2021-04-06 17:59] ashishsahu1 commented on #270
@einhawking Hello Shreya, as this project is already assigned you have to look into some other issue 😃

[2021-04-06 18:04] ashishsahu1 commented on #277
@Amit366 surely you can

[2021-04-06 18:08] Amit366 commented on #275
@ashishsahu1  I have already done this one. Please assign me so that I can send the PR

[2021-04-06 18:47] iamakkkhil commented on #270
@ashishsahu1 @Niketkumardheeryan  can you please have a look and let me know your suggestions.

[2021-04-07 20:03] saidrishya commented on #276
I am a participant in GSSOC'21. I would love to contribute. Can you assign this to me. Thanks.

[2021-04-08 08:25] gpriya32 opened #301 "Fire Detection using image processing"

[2021-04-08 15:52] Aditi0102 opened #303 "Cat and dog classification using Transfer Learning"
I would like to buld a InceptionV3 model classifying Cats and Dogs

[2021-04-09 00:50] vi-hna-ja commented on #282
Hello, I made a PR #288 5 days ago. Can you review it and suggest any changes if any?

[2021-04-09 06:16] shantamsultania opened #304 "Ml text Based Android App Template"
hey I have one suggestion to make a template of an Android application in which one can integrate their ML-based API

Basically, the idea is let's say we have a person "A" who has made a text sentimental Analysis NLP program but he wants to make an android application of the same here he can use this template he just needs to make an API of the same in his/her python or nay language code and share

[2021-04-09 06:17] shantamsultania opened #305 "Ml Based Voice Android App Template"
same use case in  issue #304
here I am thinking of all the inputs as an voice inputs

[2021-04-09 17:19] this-is-aishwarya opened #306 "Body Posture Correction Project using Posenet"
The project helps in detecting incorrect body postures while working and sends out an alarm and blurs the screen on
detection. This project can be built using Tensorflow and Posenet, ML5 library.
Please assign this issue to me.

[2021-04-09 19:10] salonidabgar commented on #16
Hi ! Can I work on it as a GSSOC'21 participant?

[2021-04-09 19:16] RohiniRG opened #307 "10*10 maze solver"
The python script can detect the given 10*10 maze coordinates and find the shortest way to solve the maze.
I am a Gssoc'21 participant and I would like to work on this issue.

[2021-04-09 19:20] iamakkkhil opened #308 "Tic Tac Toe game"
The script will cover an interactive single player tic tac toe game through live camera feed against the computer itself.

Could you please assign this issue to me. I am a gssoc'21 participant.

[2021-04-09 19:27] salonidabgar opened #309 "Skin Cancer(melanoma) Detection Model"
Hello Everyone!! This project involves the detection of melanoma, a prevalent type of skin cancer, using deep learning.
The dataset for the same can be found here: https://www.kaggle.com/c/siim-isic-melanoma-classification

I would like to work on this as a GSSOC'21 participant. Could you please assign me the issue.
Thanks

[2021-04-10 08:11] AM1CODES commented on #287
@ashishsahu1 @gpriya32 Its been some time since i created this issue. So can you please let me know if i can start working on it or not?

[2021-04-10 10:21] psyduck1203 commented on #16
Hey @salonidabgar I'm working on this issue and I'll open the PR soon. You can work on any other issues. Thankyou :)

[2021-04-10 11:37] iamakkkhil commented on #308
/assign

[2021-04-11 15:01] Rajeswari0410 commented on #303
Hello! I'm a GSSOC'21 participant and would like to work on this classification using other models. Can u assign it to me @ashishsahu1

[2021-04-11 15:09] Rajeswari0410 commented on #301
Hello! I'm a participant in GSSOC'21 and would like to work on this issue. Can u allot it to me?

[2021-04-12 04:00] goelesha opened #311 "Age of death prediction using linear regression"
Using the WHO life expectancy dataset: https://www.kaggle.com/kumarajarshi/life-expectancy-who/data#

[2021-04-12 04:01] goelesha commented on #311
@ashishsahu1 Pls assign to me

[2021-04-12 04:01] NEERAJAP2001 opened #312 "Mask detection using EfficientnetB3"
On an additional note, I'd like to add a Live Webcam Feature to detect masks using EfficientNetB3.

# Architecture :

[code]

# Project Pipeline :

![face mask detection- mtcnn](https://user-images.githubusercontent.com/65017645/114337677-305cdf00-9b6f-11eb-8e22-f53bc57e3b7a.png)

I'd like to work on this issue as part of GSSOC-21 and this will be implemented into [This](https://github.com/ashishs

[2021-04-12 04:02] goelesha opened #313 "Insurance cost prediction using linear regression"
I am going to use information like a person's age, sex, BMI, no. of children and smoking habit to predict the price of yearly medical bills. This kind of model is useful for insurance companies to determine the yearly insurance premium for a person. The dataset for this problem is taken from Kaggle.

We will create a model with the following steps:

Download and explore the dataset
Prepare the dat

[2021-04-12 04:03] goelesha opened #314 "Classifying images of everyday objects using a neural network"
Explore the CIFAR10 dataset: https://www.cs.toronto.edu/~kriz/cifar.html
Set up a training pipeline to train a neural network on a GPU
Experiment with different network architectures & hyperparameters

[2021-04-12 04:04] goelesha commented on #313
@ashishsahu1 Pls assign to me

[2021-04-12 04:04] goelesha commented on #314
@ashishsahu1 Pls assign to me

[2021-04-12 06:22] prithwirajmitra2001 commented on #279
@gpriya32
Shall I be working on this issue
Please give the gssoc and level tags

[2021-04-13 07:20] ashishsahu1 commented on #275
@Amit366 Sorry for late reply, you can surely start working on it

[2021-04-13 07:28] Amit366 commented on #275
@ashishsahu1 please review my PR as I need to delete the repo and again send the PR as I got some problem with the forked repo

[2021-04-13 08:14] ashishsahu1 commented on #276
@einhawking want to work in this one?

[2021-04-13 10:51] #195 closed, assigned to AshuKV

[2021-04-13 10:52] #252 closed, assigned to ayush-raj8

[2021-04-13 10:53] ashishsahu1 commented on #4
@aasthasaxena217 You want to work on this one?

[2021-04-13 10:56] ashishsahu1 commented on #261
@IronStark007 Go ahead

[2021-04-13 10:59] #282 closed, assigned to vi-hna-ja

[2021-04-13 11:00] #281 closed, assigned to NEERAJAP2001

[2021-04-13 11:01] ashishsahu1 commented on #304
I think it's a great Idea, do you want to work on this one?

[2021-04-13 11:02] #274 closed, assigned to Amit366

[2021-04-13 11:04] ashishsahu1 commented on #306
@this-is-aishwarya You can work on this one

[2021-04-13 11:04] ashishsahu1 commented on #307
@RohiniRG You can work in this one

[2021-04-13 11:05] ashishsahu1 commented on #309
@salonidabgar You can work in this one, for sure

[2021-04-13 11:07] ashishsahu1 commented on #287
@AM1CODES Sorry for delayed response, You can surely work on this one

[2021-04-13 11:07] ashishsahu1 commented on #308
@iamakkkhil you can start working on this one

[2021-04-13 11:13] ashishsahu1 commented on #303
@Aditi0102 You can work on Inception model

[2021-04-13 11:14] ashishsahu1 commented on #301
@Rajeswari0410 You can work in this one

[2021-04-13 11:14] ashishsahu1 commented on #311
@goelesha start working on this one

[2021-04-13 11:16] ashishsahu1 commented on #279
@prithwirajmitra2001 start working on the project,

[2021-04-13 11:17] ashishsahu1 commented on #314
@goelesha You are assigned with any other issue right?

[2021-04-13 11:18] ashishsahu1 commented on #312
@NEERAJAP2001 You can work on this one

[2021-04-13 11:19] ashishsahu1 commented on #275
@Amit366 I have done it right?

[2021-04-13 11:22] ashishsahu1 commented on #313
@goelesha you have to finish one of the assigned issue first and then get this assigned

[2021-04-13 11:23] Amit366 commented on #275
@ashishsahu1 yes thank you

[2021-04-13 11:23] Amit366 commented on #275
But if possible please be active. It's a request

[2021-04-13 12:12] shantamsultania commented on #304
yeah sure I will be taking care of both the front and backend of the applications and will be making use of Text sentimental analysis to demo the application for the same so that all can also benefit
also I had a idea of making a voice-based android app of the same process for that I have raise another issue look into that also @ashishsahu1

[2021-04-13 12:28] AM1CODES commented on #287
No worries, i will start working on it. Also, please add the tags.

[2021-04-13 13:38] vi-hna-ja opened #317 "Trigger Word Detection"
I want to implement a deep learning model and an algorithm for trigger word detection.
Trigger word detection is the technology that allows devices like Amazon Alexa, Google Home, Apple Siri, and Baidu DuerOS to wake up upon hearing a certain word.

I want to work on this as a part of GSSoC'21. I have done this before in a course before. Please assign it to me.

[2021-04-13 13:40] aasthasaxena217 commented on #4
@ashishsahu1 Yes sir, I can design front end with Html, css, Bootstrap ,Javascript

[2021-04-13 20:15] Niketkumardheeryan opened #319 "Create a ML model by using different Scaling and Transformation Techniques ."
There must be 6 to 7  techniques,with accuracy .

[2021-04-13 20:19] Niketkumardheeryan opened #320 "Create a ML model which contain statistical hypothesis testing ."
Ans after applying for show the difference.

[2021-04-13 20:22] Niketkumardheeryan opened #321 "Implementation of Xgboost from scratch in python."

[2021-04-13 20:24] Niketkumardheeryan opened #322 "Implementation of Logistic Regression from scratch in Python."

[2021-04-13 20:30] Niketkumardheeryan opened #323 "Video classification by using any ML/DL technique ."

[2021-04-14 05:02] Rajeswari0410 commented on #301
Sure! Thank you

[2021-04-14 06:14] tarannum-perween commented on #322
I want to work on this issue. please assign it to me(GSSOC'21)

[2021-04-14 13:37] salonidabgar opened #325 "Captcha Recognition using PyTorch"
Hello Everyone! I aim to build an OCR model using functional APIs. I will also be deploying deep learning models to it.
Kindly assign me this issue as a part of GSS0C'21.

The dataset I plan to use can be found here: https://github.com/AakashKumarNain/CaptchaCracker/raw/master/captcha_images_v2.zip

thanks!

[2021-04-14 14:26] codername-123 commented on #321
@Niketkumardheeryan I would like to work on this issue

[2021-04-15 05:43] arathib36 commented on #191
@vaibhavarora102  This has already been completed and merged into main branch.

[2021-04-15 12:10] Niketkumardheeryan commented on #322
@tarannum-perween go for it ,But Don't copy-paste .

Requirements :
Add Readme.md file
there must be proper comment when required,
And Train  a model on it .

[2021-04-15 15:37] walaa5 opened #331 "face completion using GANS"
Hello, I want to build a model for face completion using GANs algorithm.
this is a novel approach for image completion that results in images that are both locally and globally consistent.
I will use this paper for implementing the model [Globally and Locally Consistent Image Completion
](http://iizuka.cs.tsukuba.ac.jp/projects/completion/data/completion_sig2017.pdf)

[2021-04-15 17:27] Niketkumardheeryan commented on #325
Don't forget to add Readme.md file ...

[2021-04-15 17:31] #278 closed, assigned to Sreelayavuyyuru

[2021-04-15 17:39] Niketkumardheeryan commented on #331
Hi @walaa5, it has been already done by someone else,  but you can choose other issues.

[2021-04-15 17:55] walaa5 commented on #331
Is it the same project ?
because i don't see this project in codes
![d166bbf8-b1df-486c-821c-4855882c1231](https://user-images.githubusercontent.com/45610906/114915734-3b8c6500-9e24-11eb-80a0-366e8e604ddb.jpg)

[2021-04-15 18:15] iamakkkhil commented on #308
My laptop is not handling such tasks

If u don't mind Instead of this can I work on GUI of Tic Tac Toe Multiplayer game with Pygame library of Python

[2021-04-15 18:52] vaibhavarora102 commented on #191
@ashishsahu1  should I close this issue?

[2021-04-15 19:45] this-is-aishwarya opened #333 "Speech-to-Text using Convulation Neural Network from scratch"
To create a speech-to-text model using CNN. The project will not contain any API calling (like Google Text-to-Speech API or so). The project will be made using Librosa and Keras library.
Please assign this issue to me.

[2021-04-15 22:57] walaa5 commented on #331
@Niketkumardheeryan

[2021-04-16 03:29] AM1CODES commented on #287
@ashishsahu1 i have made the pr for this issue #334 . Please let me know if you require something more and please add the tags as well, otherwise it won't be counted for the points. Thank you!

[2021-04-16 06:48] pragyangra commented on #311
Can I work on this too?

[2021-04-16 06:51] pragyangra commented on #313
I have a notable experience with Regression Algorithms, can you assign this to me @ashishsahu1 ?

[2021-04-16 07:55] AM1CODES opened #335 "New Project addition : AICrowd Chess Challenge"
So recently i had participated in a Competition that took place on AICrowd and we they provided us with a very unique data set to work with. It had images of chess board and we had to determine which side had the least number of pieces whether it was black or white. It was a classification task and the data set was very different from the normal data sets that we use. I think this project will be

[2021-04-16 09:10] NEERAJAP2001 commented on #289
@Niketkumardheeryan you can close this issue now.
Thanks

[2021-04-16 09:46] goelesha commented on #313
@ashishsahu1 I have solved the assigned issue. Kindly assign this issue to me now.

[2021-04-16 09:47] goelesha commented on #314
I have solved the assigned issue. Kindly assign this issue to me.

[2021-04-16 10:44] salonidabgar opened #337 "Implement U -Net from scratch"
Hi! I would be implementing U-Net from scratch in PyTorch.

Please assign me this issue as a part of GSSOC'21.

Thanks!

[2021-04-16 15:29] walaa5 opened #338 "Traffic Sign Classification"
hello, this is traffic sign classification project using CNN. can I work on it.

[2021-04-16 17:44] JanhaviSoni opened #339 "ML Model"
Parkinson Disease Prediction model

[2021-04-17 03:27] NEERAJAP2001 opened #340 "Add 5 Snapchat Filters as part of OpenCv Projects."
I'd like to add These Filters :

* Surgical Mask Filter
* Anabelle Mask Filter
* Clown Mask Filter
* Cat Mask Filter
* Moustache face filter

I'd like to work on them using :

* Python
* OpenCV
* Tkinter
* Shape predictor 68 face landmark points Model
* The program makes use of Dlib-facial feature points

I'd like to work on this issue as part of GSSOC-21.

[2021-04-17 13:41] #289 closed, assigned to NEERAJAP2001

[2021-04-17 13:49] #219 closed, assigned to VivanVatsa

[2021-04-17 14:08] Niketkumardheeryan opened #341 "Add Readme.md file with each PR."

[2021-04-17 14:36] #312 closed, assigned to NEERAJAP2001

[2021-04-17 16:42] AM1CODES commented on #335
Thank you for assigning this issue to me, i will keep you updated on my progress.

[2021-04-17 18:39] ashishsahu1 commented on #308
@iamakkkhil you can use Google Collab if working on ipynb files, and if not you can make a new issue for the gui and then start working

[2021-04-18 05:18] aabhapingle opened #343 "Stress Level Prediction"
Hi! I wish to use this dataset [survey questions](https://www.kaggle.com/shivamb/ideal-student-life-survey) for determining the stress level of students. This will answer key questions such as what factors lead to increased stress among students.
@Niketkumardheeryan @ashishsahu1 kindly assign this issue to me.
I would like to work on this issue as a part of GSSOC '21. Thank you!

[2021-04-18 14:03] #308 closed, assigned to iamakkkhil

[2021-04-18 14:07] sonali-rajput commented on #192
can you please assign this to me?
I want to work on this

[2021-04-18 17:50] #287 closed, assigned to AM1CODES

[2021-04-18 17:51] ashishsahu1 commented on #331
@walaa5 you can work in this one 😃

[2021-04-18 17:53] ashishsahu1 commented on #311
@pragyangra You can work on some other project 😃

[2021-04-18 17:56] #191 closed, assigned to einhawking

[2021-04-18 18:55] iamakkkhil opened #344 "Smart Tic Tac Toe GUI Game"
This script will let the user choose to play single player (with AI) or Multiplayer game built by using Pygame library of Python

I am GSSoC 21 paricipant .
Kindly assign @ashishsahu1

[2021-04-19 03:31] Amit366 commented on #277
@Niketkumardheeryan how can the label be changed when I have already sent the PR. On seeing the level only I have taken the issue.

[2021-04-19 05:39] #304 closed, assigned to nobody

[2021-04-19 05:42] shantamsultania commented on #305
hey @ashishsahu1 and @Niketkumardheeryan please look into this issue also.

The main idea is to make use of Voice as an input for applications and then use that data.
let me know if you have any suggestions or questions.

[2021-04-19 05:44] shantamsultania opened #346 "Template for Connecting your ML model to Actions on google (google assistant )"
I am thinking of making one template code with the help of which you can connect your ML algorithm/ code to a Google assistant
any review on the same @Niketkumardheeryan  @ashishsahu1

[2021-04-19 05:45] shantamsultania opened #347 "Template for Connecting your ML model to amazon Alexa"

[2021-04-19 05:47] shantamsultania opened #348 "a facial lock system using image processing"

[2021-04-19 06:24] avinashkranjan commented on #344
Hey @iamakkkhil First of all this is not my repo it belongs to aforementioned @ashishsahu1,
Second of all it won't benefit you if you create multiple same issues in multiple repositories. So, Kindly restrict yourself from such practices.

[2021-04-19 06:33] #261 closed, assigned to IronStark007

[2021-04-19 08:55] goelesha commented on #311
I have made another PR with the required changes. So closing this one

[2021-04-19 12:15] RohiniRG commented on #271
@ashishsahu1 please have a look at the changes

[2021-04-19 18:01] iamakkkhil commented on #344
What's the problem in creating a same ? I will be changing the code according to the requirements of repo and I don't see a problem in that. None of the same issues have same code, and it's not plagiarised I wrote it. @avinashkranjan

[2021-04-19 18:42] Rajeswari0410 commented on #301
I have completed the task but there is some problem in making a PR , can u please help me with this?

[2021-04-20 04:25] ayush-raj8 commented on #339
@ashishsahu1  I'll like to work if assigned.

[2021-04-20 07:42] #279 closed, assigned to prithwirajmitra2001

[2021-04-20 14:54] ayush-raj8 opened #351 "Image Steganography"
We take a string as input and an image, the python scripts hides the string in the image .  The data is stored as binaries with pixel binary of image. It technique of hiding secret data .
It will use  algorithms related to computer vision.
I'll like to work if assigned.
@ashishsahu1

[2021-04-20 15:04] prathimacode-hub opened #352 "Breast Cancer Prediction"
I want to work on breast cancer prediction. It will detect whether a cancer is benign or malignant. I will also take few algorithms to compare the accuracy. I would like to work on this issue as a part of GSSOC '21. Can you assign this issue to me? @ashishsahu1 @Niketkumardheeryan @vaibhavarora102 @gpriya32 . Thank you!

[2021-04-20 15:58] NEERAJAP2001 opened #353 "Deep learning based Face detection using the YOLOv3 algorithm"
ALGO: The YOLOv3 (You Only Look Once) is a state-of-the-art, real-time object detection algorithm. The published model recognizes 80 different objects in images and videos.

In this project, I will create a Face Detection Script using YOLOv3 Algorithm.

Dependencies

* Tensorflow
* opencv-python
* opencv-contrib-python
* Numpy
* Keras
* Matplotlib
* Pillow

I'd Like to work on this issue as part o

[2021-04-21 06:14] Ankita297 opened #354 "Automerge PR from dependabot github action"
We can merge PR from dependabot automatically by github action . I want to work on this issue .

![done by Ankita297 · Pull Request #5 · Ankita297_Story - Google Chrome 17-04-2021 20_05_45](https://user-images.githubusercontent.com/67833077/115505242-c04d0800-a296-11eb-9ce7-156cd455f44f.png)

[2021-04-21 15:55] prathameshThakur opened #355 "Dog Breed Identification"
Using deep learning to classify different breeds of dogs.
Will be using the transfer learning technique for the same!

I would like to work on this issue...

[2021-04-22 17:28] Dishita2602 opened #356 "Implement random forest regression with hyperparamter tuning"
Please assign me. GSSoC'21 Participant

[2021-04-22 17:30] Dishita2602 opened #357 "Solar Irradiance Prediction"
I would be using data set of one year reading on hourly basis to predict solar energy generated. This project will be very useful. Please assign me GSSoC'21 Participant

[2021-04-22 17:31] Dishita2602 opened #358 "MLP Regressor"
Mutli Layer Perceptron from scratch

[2021-04-22 17:34] Dishita2602 opened #359 "Increase accuracy of weather forecast model"
I would increase accuracy by trying different algorithm like NN,Random Forest, SVR, XG Boost etc. Please assign me GSSoC'21 participant

[2021-04-23 03:23] Ankita297 commented on #354
@ashishsahu1 @Niketkumardheeryan can i work on this ?

[2021-04-23 14:45] AM1CODES commented on #335
@ashishsahu1 a little update on the work, i am still working on it. I have my exams going on hence there is a little delay in making a PR. But it will be done by next week fir sure. @Niketkumardheeryan Please consider for this time.

[2021-04-23 17:13] Ayush12062000 opened #361 "Neural Style Transfer"
Hello, I am Ayush Kesarwani and I Want to contribute  ML-ProjectYard by Adding Neural Style Transfer.
I'll be using VGG19 model for that.

Kindly, assign this issue to me.
@ashishsahu1

[2021-04-23 19:57] shreyasZ10 opened #362 "I am a participant of GSSOC'21. I would like to make a Salary predictor web app using Python and Flask given skills of a person, his sector of interest, etc ."

[2021-04-24 10:54] srimontidutta opened #364 "Hole detection in clothes using blob detection"
Hi! I would like to work on the detection of holes in clothes using blob detection. Please assign it to me as a GSSoC21 project.

[2021-04-25 17:01] AparnaJuhi opened #365 "Social Network Ads"
I want to work on Social Network Ads dataset which will predict whether the person is going to buy the product or not, based on various parameters. Please assign it to me! @ashishsahu1

[2021-04-25 19:34] Niketkumardheeryan commented on #335
ok

[2021-04-25 19:41] #358 closed, assigned to nobody

[2021-04-25 19:46] Niketkumardheeryan opened #366 "Covid-19 state wise analysis on Latest available datasets."

[2021-04-25 19:50] Niketkumardheeryan opened #367 "Use any ML technique to Help covid-19 patients ."

[2021-04-26 11:18] Dishita2602 commented on #359
I will request to please label this issue

[2021-04-27 12:35] saaalik commented on #109
I have the py file for the same ready with me, should I upload it as a py file and document the explanation in a readme file? or make it into a jupyter notebook?

[2021-04-27 14:18] srimontidutta opened #373 "Face Detection using Haar Cascade"
I would like to create an efficient face detection model using Haar Cascade. Please assign it to me for GSSoC21.

[2021-04-27 16:34] #223 closed, assigned to Manasi2001

[2021-04-27 16:41] Manasi2001 opened #374 "Churn Risk Score Prediction"
I would like to work on this. I will create the complete project with UI using tkinter for visualizing the decision tree. Please assign this to me @ashishsahu1.

[2021-04-27 16:53] goelesha commented on #313
@ashishsahu1 Pls assign this to me

[2021-04-27 16:53] goelesha commented on #314
@ashishsahu1 Pls assign this to me

[2021-04-28 02:01] AparnaJuhi commented on #365
I have generated a PR, please review it @Niketkumardheeryan  @ashishsahu1

[2021-04-28 02:05] AparnaJuhi opened #375 "Startup Profit Predictor"
Based upon parameters like- R&D spend, Administrative cost, Marketing spend- we will predict the profit of the startup. I want to work on this issue and deploy this model in Django. Please assign it to me.

[2021-04-28 17:23] soumikbaithalu opened #377 "Gesture Volume Control"
## 🚀 Feature

Control the volume up and down using the hand gesture with the OpenCV

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/ashishsahu1/ML-ProjectYard/blob/4962c7928162f1463c9ce8c41f1383a0763a58af/CONTRIBUTING.md)?

Yes  I have read it

## Motivation

To contributing to GSSOC'21

[2021-04-28 17:24] soumikbaithalu commented on #377
@Niketkumardheeryan please assign me the issue

[2021-04-29 18:05] gpriya32 commented on #377
@soumik2012 go ahead work on it

[2021-04-29 18:06] gpriya32 commented on #375
@AparnaJuhi go ahead

[2021-04-29 18:07] gpriya32 commented on #374
so will deploy the model too? @Manasi2001

[2021-04-29 18:09] gpriya32 commented on #373
@srimontidutta go ahead

[2021-04-29 18:10] gpriya32 commented on #373
just mention some details regarding your project? will you be making a working app/website too? also, you have read the guideline?

[2021-04-29 18:20] #277 closed, assigned to Amit366

[2021-04-30 08:30] Manasi2001 commented on #374
No. But, I'll include the pkl file and I'm making a GUI as well for front-end.

[2021-04-30 13:20] Manasi2001 opened #380 "Amazon Alexa Reviews Analysis"
The aim is to analyze the feedback for Alexa and classify it as positive or negative by doing Natural Language Processing. Please assign this project to me.

[2021-04-30 19:56] harshita2319 commented on #366
I'm a GSSOC participant and I'd like to work on this issue to present a state-wise analysis of Covid 19. Please assign the issue to me.

[2021-05-01 05:07] AM1CODES commented on #335
I have made a PR for it #379

[2021-05-02 09:26] #311 closed, assigned to goelesha

[2021-05-02 09:29] ashishsahu1 commented on #313
@goelesha sorry for delayed response.. you can go ahead with this one

[2021-05-02 09:31] ashishsahu1 commented on #109
Notebook would be much better..

[2021-05-02 10:44] goelesha commented on #313
Sure. Pls assign it to me @ashishsahu1

[2021-05-02 10:45] goelesha commented on #314
@ashishsahu1 Pls assign this as well to me. I will work on both simultaneously

[2021-05-03 17:15] Dishita2602 opened #385 "Improve accuracy of Cancer-prediction-Model"
I would like to increase efficiency of cancer model. Please assign me

[2021-05-03 17:17] Dishita2602 opened #386 "Increase accuracy of Bangalore-House-Prediction-Model"
I would like to use feature selection techniques and hyperparameter optimization to improve accuracy of model. Please assign me

[2021-05-03 19:40] walaa5 commented on #338
@Niketkumardheeryan can you assign this to me

[2021-05-04 05:47] Manasi2001 opened #389 "Concrete Strength Prediction"
The feature set includes:
Cement, Blast Furnace Slag, Fly Ash, Water, Super-plasticizer, Coarse Aggregate, Fine Aggregate and Age

The target set is to predict:
Strength of the Cement

I'll make the complete project and provide a GUI for front-end as well. Please assign this to me @Niketkumardheeryan.

[2021-05-04 05:52] Manasi2001 opened #390 "E-Mail Classification"
The aim is to perform Natural Language Processing using nltk package, analyze the message body of e-mails and then classify them as spam or non-spam. Please assign this to me @Niketkumardheeryan.

[2021-05-04 05:56] Manasi2001 opened #391 "Ice Cream Revenue Prediction"
The aim is to predict the revenue generated by selling ice-cream on the basis of the temperature on a particular day using Simple Linear Regression.

I'll make the complete project and provide a GUI for front-end as well. Please assign this to me @Niketkumardheeryan.

[2021-05-04 14:43] anirudhsai20 opened #392 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project was listed in.

[2021-05-04 14:43] anirudhsai20 commented on #392
Hi! Please assign this issue to me under GSSOC.

[2021-05-05 17:45] shantamsultania commented on #347
hey, @Niketkumardheeryan @ashishsahu1 @gpriya32  can I can start working on this issue?

[2021-05-05 17:46] shantamsultania commented on #346
hey any review on the same @gpriya32 can i can start working on this

[2021-05-05 21:24] garimaa-goyal opened #393 "Text Extraction In Real Time"
## Aim
### The main aim of this script will be capturing the image in real time using webcam and extracting the text from captured image simultaneously.

## Techstack
### Open CV and Tesseract

[2021-05-06 18:17] Aparna-Sakshi opened #398 "Predicting next K words"
**Description**
Given a sequence of words, next k words will be predicted using

- character-based LSTM models
- word-based LSTM models
- Transformer-based language model (i.e)BERT
- After which I'll compare the performance of these models.

I am a GSSOC-21 participant, kindly assign this issue to me @Niketkumardheeryan.

[2021-05-07 07:48] gpriya32 commented on #391
@Manasi2001  go ahead

[2021-05-07 07:49] gpriya32 commented on #373
@srimontidutta any update?

[2021-05-07 07:51] gpriya32 commented on #347
Sure goahead :)

[2021-05-07 14:21] srimontidutta commented on #373
@gpriya32

@gpriya32 Yes, I have read them. I will work on the model creation so that it can take any input from the user and analyze the image.

[2021-05-07 14:23] srimontidutta commented on #373
@gpriya32 Yes, I have completed it, just waiting for the assignment so that I can make the PR.

[2021-05-07 15:20] Manasi2001 commented on #391
@gpriya32 please review my PRs :)

[2021-05-10 07:18] Srishti013 opened #400 "Predicting Credit Card Approvals"
Commercial banks receive a lot of applications for credit cards. Many of them get rejected for many reasons, like high loan balances, low income levels, or too many inquiries on an individual's credit report, for example. Manually analysing these applications is mundane, error-prone, and time-consuming. This project will help us automate this procedure by using machine learning techniques.

[2021-05-10 07:25] Srishti013 commented on #400
I am a GSSOC'21 participant I would like to work on this issue

[2021-05-10 13:54] Amit366 commented on #275
@Niketkumardheeryan while pushing in git I am getting error as remote end hung up unexpectedly

[2021-05-10 17:14] sourav-naskar commented on #366
Hi @Niketkumardheeryan @gpriya32
I am a GSSOC 2021 Participant . I want to do the state wise analysis of "Covid-19 in India dataset"  . Can you please assign this issue to me?

[2021-05-11 10:03] noobkid2411 opened #401 "Colour Detection using Pandas & OpenCV"
program where you can automatically get the name of the color by clicking on them in an image input by the user.
Dataset used for training :https://github.com/codebrainz/color-names/blob/master/output/colors.csv

[2021-05-11 10:25] Manasi2001 opened #402 "Income Classification"
The aim is to classify the income of a person as <=50K or >50K using Random Forest Classifier. Please assign this to me.

[2021-05-11 10:29] Manasi2001 opened #403 "Laptop Price Prediction"
The aim is to predict price of a laptop on the basis of various factors such as manufacturer, type of processor, processing speed(GHz), Ram(gb), HDD(gb), SSD(gb), Graphics(gb) and ScreenSize(inch) using Random Forest Regressor.

I'll make the complete project and provide a GUI for front-end as well. Please assign this to me.

[2021-05-12 02:19] ashishsahu1 commented on #393
@undetectablevirus  you can go with this one

[2021-05-12 02:20] ashishsahu1 commented on #346
@shantamsultania Hey, you can work on this one. sorry for delayed response, had some medical issues

[2021-05-12 04:21] #392 closed, assigned to nobody

[2021-05-12 04:40] #390 closed, assigned to nobody

[2021-05-12 04:40] #389 closed, assigned to nobody

[2021-05-12 04:41] #355 closed, assigned to prathameshThakur

[2021-05-12 04:42] ashishsahu1 commented on #386
Sure you can go for this one

[2021-05-12 04:43] ashishsahu1 commented on #385
@Dishita2602 Assigning to you, but first finish the other one that is assigned

[2021-05-12 04:47] #351 closed, assigned to ayush-raj8

[2021-05-12 04:52] #314 closed, assigned to nobody

[2021-05-12 04:53] #313 closed, assigned to nobody

[2021-05-12 04:54] #335 closed, assigned to AM1CODES

[2021-05-12 04:55] #380 closed, assigned to nobody

[2021-05-12 04:55] #374 closed, assigned to nobody

[2021-05-12 05:07] ashishsahu1 commented on #375
@AparnaJuhi Updates?

[2021-05-12 05:10] ashishsahu1 commented on #362
@shreyasZ10 go ahead

[2021-05-12 05:10] #361 closed, assigned to Ayush12062000

[2021-05-12 05:11] AparnaJuhi commented on #375
I have submitted the file, and It has been merged as well

[2021-05-12 05:12] ashishsahu1 commented on #354
@Ankita297 Sometimes dependabot create issues, that is why we are not using it

[2021-05-12 05:13] ashishsahu1 commented on #357
@Dishita2602 you can work on this one

[2021-05-12 05:13] #356 closed, assigned to nobody

[2021-05-12 05:15] #377 closed, assigned to soumikbaithalu

[2021-05-12 05:16] #340 closed, assigned to NEERAJAP2001

[2021-05-12 05:17] Amit366 commented on #275
@ashishsahu1 I am getting error when I am pushing the code. Can u help me?

[2021-05-12 05:18] ashishsahu1 commented on #353
@NEERAJAP2001 you can work on this one

[2021-05-12 05:21] Dishita2602 commented on #359
You have label issue as level 1 please change it

[2021-05-12 05:22] ashishsahu1 commented on #398
@Aparna-Sakshi You can start working

[2021-05-12 05:22] Dishita2602 commented on #357
Please label level ?

[2021-05-12 05:25] NEERAJAP2001 opened #405 "Add Cartoonify Image using K means Clustering Algorithm"
This project would be one of such inspiration which cartoonizes images and videos using only core OpenCV filters and functions.It also will be using a K-means clustering algorithm to compress the image. This clustering gives it the basic cartoonish tinge it requires.

Algorithm- K_Means Clustering
Filters-Bilateral Filter, Contours, erode, Canny(edge detection)

[2021-05-12 05:37] Ankita297 commented on #354
Okay @ashishsahu1

[2021-05-12 05:37] #354 closed, assigned to nobody

[2021-05-12 07:12] theanshulcode commented on #403
Please assign this to me. I am having good hands on visualization and prediction.

[2021-05-12 07:14] theanshulcode commented on #352
Please assign this to me.

[2021-05-12 07:15] theanshulcode commented on #322
Please assign this to me, I want to work on it.

[2021-05-12 09:47] shreyasZ10 commented on #362
please assign appropriate tags of GSSOC.

[2021-05-12 10:02] ashishsahu1 commented on #400
@Srishti013 Go ahead

[2021-05-12 10:02] ashishsahu1 commented on #400
@Srishti013 Go ahead

[2021-05-12 10:08] ashishsahu1 commented on #366
@harshita2319 @nash1o7 I can assign anyone of you to work on this one, the first one to reply would get it I think., other one can work on other issues and can also make a new one

[2021-05-12 10:09] ashishsahu1 commented on #366
@harshita2319 @nash1o7 I can assign anyone of you to work on this one, the first one to reply would get it I think., other one can work on other issues and can also make a new one

[2021-05-12 10:09] harshita2319 commented on #366
Hey I'm in

[2021-05-12 10:12] ashishsahu1 commented on #401
@noobkid2411 Start working on this 😀

[2021-05-12 10:14] #391 closed, assigned to Manasi2001

[2021-05-12 10:27] ashishsahu1 commented on #402
Didn't got your Idea .. can you explain the problem statement again?

[2021-05-12 10:30] ashishsahu1 commented on #338
@walaa5 Sure you can go ahead

[2021-05-12 10:34] #344 closed, assigned to nobody

[2021-05-12 10:36] #339 closed, assigned to nobody

[2021-05-12 10:44] #375 closed, assigned to AparnaJuhi

[2021-05-12 10:45] ashishsahu1 commented on #305
@shantamsultania I think Idea is quite good, if you want to work on this one, you can

[2021-05-12 11:08] Dishita2602 commented on #386
Please label this issue

[2021-05-12 11:09] Dishita2602 commented on #385
Please label this issue

[2021-05-12 11:15] sourav-naskar commented on #320
Hi @Niketkumardheeryan @ashishsahu1
I am a GSSOC 2021 participant. I want to apply different hypothesis testing techniques such as Normal Distribution
 t Distribution ,ANOVA with different ML models. Can you assign me this issue?

[2021-05-12 11:35] sourav-naskar commented on #319
Hi @Niketkumardheeryan @ashishsahu1
I am a GSSOC 2021 participant. I want to create different ML models by using different scaling methods (like Mean Normalization Standardization, Scaling to Maximum and Minimum,Robust Scaling(Scale to median and IQR),  Scale to absolute Maximum.) & Transformation methods (like Logarithmic Transformation, Square-root Transformation, Reciprocal Transformation,
Expo

[2021-05-12 11:45] Manasi2001 commented on #402
Basically, the dataset is like this:
![image](https://user-images.githubusercontent.com/68627617/117969659-57145e00-b345-11eb-9356-5d141290aa24.png)
Classification on 'income' attribute is needed to be done.

[2021-05-13 07:27] Amit366 commented on #133
@ashishsahu1 @Niketkumardheeryan can I work??

[2021-05-14 02:19] ashishsahu1 commented on #403
@Manasi2001 You can work on this one.. @theanshulcode you can create a new issues with your ideas

[2021-05-14 02:21] ashishsahu1 commented on #357
@Dishita2602 level will be assigned to the PRs, Don't worry 😊

[2021-05-14 02:25] #359 closed, assigned to Dishita2602

[2021-05-14 02:28] #353 closed, assigned to NEERAJAP2001

[2021-05-14 02:30] #275 closed, assigned to Amit366

[2021-05-14 02:32] ashishsahu1 commented on #192
@Sonali-Rajput You can work on this one

[2021-05-14 02:33] ashishsahu1 commented on #343
@aabhapingle You can work on this one 😀

[2021-05-14 02:34] ashishsahu1 commented on #405
@NEERAJAP2001 will you work on GUI too?

[2021-05-14 02:35] ashishsahu1 commented on #333
@this-is-aishwarya status?

[2021-05-14 02:35] ashishsahu1 commented on #321
@codername-123 status?

[2021-05-14 02:37] ashishsahu1 commented on #4
@aasthasaxena217 assigning this one to you

[2021-05-14 02:38] ashishsahu1 commented on #317
@Jahnavi-Majji you want to work on it?

[2021-05-14 02:39] ashishsahu1 commented on #337
@salonidabgar status?

[2021-05-14 04:58] NEERAJAP2001 commented on #405
No @ashishsahu1 I'll do only the script+Notebook.

[2021-05-14 05:06] aabhapingle commented on #343
Thanks!

[2021-05-14 05:26] codername-123 commented on #321
@ashishsahu1 its almost done just checking that the predictions are correct
will be able to upload in a few hours

[2021-05-14 06:46] shantamsultania commented on #305
cool thank @ashishsahu1 let me just finish the 2 other open issues and after that will start working on this one

[2021-05-14 07:35] shantamsultania commented on #346
hey can also state the level here as I have made the PR but no level was mentioned there @ashishsahu1 @gpriya32

[2021-05-14 07:36] shantamsultania commented on #348
hey can also state the level here as I have made the PR but no level was mentioned there @ashishsahu1

[2021-05-14 07:37] shantamsultania commented on #347
hey can also state the level here as I have made the PR but no level was mentioned there @ashishsahu1 @gpriya32

[2021-05-14 07:53] shantamsultania commented on #305
hey @ashishsahu1 , @gpriya32  , @Niketkumardheeryan please review the PR also can we can please add the level also here so that if its merged I can verify my score also

[2021-05-15 07:21] #348 closed, assigned to shantamsultania

[2021-05-15 07:22] #346 closed, assigned to shantamsultania

[2021-05-15 07:24] gpriya32 commented on #405
@NEERAJAP2001 ensure that itshouldnt be similar to other cartoonifying repos

[2021-05-15 07:30] gpriya32 commented on #352
@prathimacode-hub https://github.com/ashishsahu1/ML-ProjectYard/tree/main/Cancer%20Prediction%20Model improve this repo related to breast cancer. U can futher add your models too.

Is it fine for you?

[2021-05-15 07:36] #331 closed, assigned to nobody

[2021-05-15 07:37] gpriya32 commented on #325
Any updates @salonidabgar ???

[2021-05-15 07:39] gpriya32 opened #415 "Seasonal trends of income using arima model/ facebook prophet"

[2021-05-15 07:43] NEERAJAP2001 commented on #405
yeah @gpriya32, I'll be using a different algorithm.
Thanks

[2021-05-15 07:46] gpriya32 opened #416 "Search engine using NLP"

[2021-05-15 08:26] prathimacode-hub commented on #352
Thannk you for responding and assigning it to me. Absolutely fine, that sounds good. I will work on this issue. By when can I can finish up and report back?  @gpriya32

[2021-05-15 08:32] gpriya32 commented on #352
within a week :) if possible

[2021-05-15 08:39] prathimacode-hub commented on #352
Sure thing. @gpriya32

[2021-05-15 11:52] noobkid2411 commented on #401
Hey,unfortunately I have a health emergency in my family to deal with.I would still like to contribute but I might not be able to make a pr before the 20th.If this is an urgent work,you can unassign me,sorry for the inconvenience from my side.

[2021-05-16 06:28] Manasi2001 opened #421 "Mobile Price Range Classification"
The aim is to predict the range in which the price of a mobile phone lies.

0 --> low cost || 1 --> medium cost || 2 --> high cost || 3 --> very high cost

The dataset is somewhat like this:
![image](https://user-images.githubusercontent.com/68627617/118387767-e8cde500-b63d-11eb-83b0-dc8cfb1b46c3.png)

## ML Algorithm to be Used

Random Forest Classifier

[2021-05-16 06:34] Manasi2001 opened #422 "NASA Asteroids Classification"
The aim is to find potential hazardous and non-hazardous asteroids on the basis of nearly 40 factors that include its dimensions, distance from earth, relative position in space, etc.

## ML Algorithm to be Used

Naïve Bayes

[2021-05-16 13:14] Dishita2602 commented on #401
I can work on it if @noobkid2411 wants as he is having medical emergency.

[2021-05-16 23:49] pragyangra commented on #367
Can you please assign it to me?

[2021-05-17 04:19] NEERAJAP2001 commented on #405
Can I Start working @ashishsahu1 @gpriya32 ?

[2021-05-17 07:27] salonidabgar commented on #337
@ashishsahu1 I will be done with it in a day or two.

[2021-05-17 07:29] salonidabgar commented on #325
@gpriya32  Working on it. Will be done by the end of this week.

[2021-05-18 12:35] pragyangra opened #427 "Predicting bicycle rentals using Linear Regression"
Data provided by **Capital Bikeshare** will be used for our model. I am a gssoc'21 participant, can I go with it @ashishsahu1 @gpriya32  @vaibhavarora102  @Niketkumardheeryan ?

[2021-05-18 13:32] AnjiAgrawal commented on #367
Can I do it? As a participant of gssoc21??

[2021-05-18 13:34] AnjiAgrawal commented on #341
Can I add this? As a participant of GSSOC21?

[2021-05-18 13:48] goelesha opened #428 "Fake News Detection"
This project will detect fake news, you will easily make a difference between real and fake news.
I will use Fake News Detection Dataset from Kaggle

[2021-05-18 13:48] goelesha commented on #428
@ashishsahu1 Kindly assign this issue to me

[2021-05-18 13:50] goelesha opened #429 "Create a Chatbot using python"
@ashishsahu1 Kindly assign this issue to me

[2021-05-18 13:52] goelesha opened #430 "Credit Card Fraud Detection"
@ashishsahu1 Kindly assign this issue to me

[2021-05-18 13:54] goelesha opened #431 "Speech Emotion Recognition"
To build a model to recognize emotion from speech using the librosa and sklearn libraries.
@ashishsahu1 Kindly assign this to me

[2021-05-18 14:43] #431 closed, assigned to nobody

[2021-05-18 14:43] #429 closed, assigned to nobody

[2021-05-18 14:43] #428 closed, assigned to nobody

[2021-05-18 14:44] goelesha opened #432 "Bayessian Linear Regression"
@ashishsahu1 Assign this to me

[2021-05-18 14:54] goelesha opened #433 "Detecting Parkinson's Disease"
To build a model to accurately detect the presence of Parkinson’s disease in an individual.
@ashishsahu1 Kindly assign this to me

[2021-05-18 14:57] goelesha opened #434 "Colour Detection using Pandas & OpenCV"
In this color detection Python project, we are going to build an application through which you can automatically get the name of the color by clicking on them. So for this, we will have a data file that contains the color name and its values. Then we will calculate the distance from each color and find the shortest one.

@ashishsahu1 Kindly assign this to me

[2021-05-18 15:00] goelesha opened #435 "Traffic Sign Recognition"
we will build a deep neural network model that can classify traffic signs present in the image into different categories. With this model, we are able to read and understand traffic signs which are a very important task for all autonomous vehicles

@ashishsahu1 Kindly assign this to me

[2021-05-19 13:35] gpriya32 commented on #434
go ahead @goelesha

[2021-05-20 13:13] ritikkumar55 opened #437 "Machine Learning Web App To Predict The The Numerical Digit ( Upto 0 to 5 ) On the Basis of Hand Sign Images."
@ashishsahu1 sir as a part of GSSOC 2021 , I would like to work on project which is Hand Sign Prediction web app using
streamlit as a backend  and image processing libraries of scikit-learn and classification machine learning algorithms to build this model  , it is an multi classification model.

Objective of this task is to predict  the numerical data upto  0 to 5 on the given hand sign images. I

[2021-05-20 19:53] pragyangra commented on #367
Please let me know if I should start working on it @gpriya32

[2021-05-21 10:52] sameeksharl opened #439 "Create emoji based on facial expression"
Using deep learning ,I will be able to build a convolution neural network to recognize facial emotions and create emoji respectively

@ashishsahu1 pls assign this to me??????

[2021-05-22 12:05] Manasi2001 opened #441 "Questions to Subject Classification"
Inside the CSV file, two columns are present:
1. eng: The full question or description of the questions.
2. Subject: Which subject does the question belong to. It has 4 classes, Physics, Chemistry, Biology, and Mathematics.

## Aim
The aim is to perform NLP and classify the questions into their respective subjects.

[2021-05-22 12:20] Manasi2001 opened #443 "Startup Profit Prediction"
The aim is to predict profit that a startup will make on the basis of their R&D, Administration, Marketing Spend and State where they are based in the US. I'll add the complete project with a GUI as front-end as well.

[2021-05-22 15:02] prathimacode-hub commented on #352
Do I have to create a separate repository or merge into the same? And should I have to overwrite my program file? I have my code ready.@gpriya32

[2021-05-22 16:09] AM1CODES opened #445 "New Project Addition : Update to AICrowd Folder"
I had previously made a PR to the repository in which i had made addition of a folder names AICrowd Chess challenge. I have been participating in competitions on their portal almost regularly and i have a few models that i wish to add to it.
Here are the changes that i propose -
* Changing the folder name to AICrowd Challenges - it will work as a single folder for all PRs related to AICrowd challe

[2021-05-22 17:51] prathimacode-hub commented on #352
I had improved this repo https://github.com/ashishsahu1/ML-ProjectYard/tree/main/Cancer%20Prediction%20Model
I had added up the project and README file.

Can you please review this Pull Request #446  @gpriya32

[2021-05-23 14:11] Amit366 opened #448 "Prediction of Google Apps Rating-checkpoint"
Sir there is no project on play store ratings analysis. It is a new project where I will be plotting graphs with ratings of google play store apps.

@ashishsahu1 @gpriya32 please assign it to me

[2021-05-23 14:14] Amit366 opened #449 "Market Basket Analysis using Apriori Algorithm"
There is no such project already existing. So I want to work on this issue.

in this project I will be analyzing different items purchased using Apriori Algorithm.

@ashishsahu1 @gpriya32 please assign it to me

[2021-05-24 16:15] KajalSinghBAGHEL opened #452 "Update README.md"
remove grammatical mistakes

[2021-05-24 16:16] KajalSinghBAGHEL commented on #452
I am a GSSOC participant. Can I work on this issue

[2021-05-24 17:24] ashishsahu1 commented on #452
@KajalSinghBAGHEL  go ahead

[2021-05-24 18:14] KajalSinghBAGHEL commented on #452
Please check my pull request

[2021-05-25 05:17] AM1CODES commented on #445
@ashishsahu1 @gpriya32 could you please look into this issue and let me know if i can make the PR for it?

[2021-05-25 15:23] Amit366 opened #455 "Police dataset"
I want to add a model which analysis different ways of fine collection by police from a given dataset.

@ashishsahu1 @gpriya32 please assign it to me.

[2021-05-26 06:17] Amit366 opened #457 "Predict if a blood donor will donate again"
The data is collected from the donor database of the Blood Transfusion Service Center in Taiwan.
The dataset, obtained from the UCI Machine Learning Repository, consists of a random sample of 748 donors.
The task is to predict if a blood donor will donate within a given time window. Model selection is done using TPOT.
Log normalization is implemented.

@ashishsahu1 @gpriya32 please assign it to me

[2021-05-26 10:44] A-kriti opened #459 "Neon Effect Filter"
Want to apply a "Neon Effect Filter" on an image.
And implementing it using OpenCV, Matplotlib, Os, and NumPy.

![Screenshot (396)](https://user-images.githubusercontent.com/73133055/119543719-99f71c80-bdae-11eb-848f-819523d8257d.png)

[2021-05-26 18:45] manisha-27 opened #461 "Kidney stone detection"
Detection of Kidney stone in the Ultrasound and CT scan images using Image processing and Machine Learning.

[2021-05-27 05:03] aanshi18 opened #462 "Crop Prediction"
Using data related to temperature and humidity of different places, predict which crop can be grown at that place.

[2021-05-27 06:32] Manasi2001 opened #463 "White Wine Quality Prediction"
The aim is to apply multiple ML classification algorithms and classify the quality of white wine in 5 categories- 4, 5, 6, 7 and 8 on the basis of various factors like volatile acidity, residual sugar, chlorides, free sulfur dioxide, etc.

I'll make the complete project and provide a GUI for front-end as well.

[2021-05-27 10:06] KajalSinghBAGHEL commented on #452
Please check my pull request

[2021-05-29 10:40] NEERAJAP2001 opened #466 "Add Face Verification using DL"
Face Verification: This is done using the Facet model. Used a trained facnet model to compare the captured image with images in the database to verify a person's face.
Reference:
Paper : [Here](https://arxiv.org/pdf/1503.03832.pdf)
MTCN Pretrained Model: [Here](https://github.com/ipazc/mtcnn)
FaceNet Pretrained Model: [Here](https://drive.google.com/file/d/0B5MzpY9kBtDVZ2RpVDYwWmxoSUk)

I'd Like t

[2021-05-29 10:46] #385 closed, assigned to Dishita2602

[2021-05-29 10:47] #357 closed, assigned to Dishita2602

[2021-05-29 10:51] #457 closed, assigned to nobody

[2021-05-29 10:51] #448 closed, assigned to nobody

[2021-05-29 10:52] #455 closed, assigned to nobody

[2021-05-29 10:53] #449 closed, assigned to nobody

[2021-05-29 10:56] #405 closed, assigned to nobody

[2021-05-29 10:58] Amit366 opened #467 "American Sign Language Prediction Web App"
I will be adding a web app for American Sign Language

[2021-05-29 11:18] Amit366 opened #470 "Apple Stock Price Detection"
I will be adding a model which will detect the prices for Apple stocks

[2021-05-29 11:29] Amit366 opened #472 "Captcha Recognition"
I will be adding a model to recognize captcha

[2021-05-29 11:37] #434 closed, assigned to goelesha

[2021-05-29 11:48] #435 closed, assigned to nobody

[2021-05-29 12:00] #432 closed, assigned to nobody

[2021-05-29 12:56] A-kriti opened #476 "Pirates Filter"
Want to implement Pirates Snapchat filter using python OpenCV library!

![image](https://user-images.githubusercontent.com/73133055/120062262-d3fe4200-c07e-11eb-85d5-382cd96e89fe.png)

[2021-05-29 13:10] A-kriti opened #477 "Eid Festival Filter"
Want to add Eid festival filters to an image using python PIL library

## Output
![Eid Festival Filtered Image](https://user-images.githubusercontent.com/73133055/120071459-2f472900-c0ad-11eb-8c2a-7325d9520a66.png)

[2021-05-29 13:33] A-kriti opened #480 "Image Contrast Adjustment"
Auto-adjusting contrast of an image using some of the python libraries!

## Output

![Screenshot (390)](https://user-images.githubusercontent.com/73133055/119268399-5ff01400-bc10-11eb-9d36-03c03ed8c2b2.png)

[2021-05-29 13:56] NEERAJAP2001 opened #482 "Face detection using YOLOV4"
YoloV4 can be implemented by TensorFlow2, with support for training, evaluation, and inference.
The goal of YOLO is to divide the image into a grid of multiple cells, and then for each cell predict the probability of having an object using anchor boxes.

[2021-05-29 14:00] NEERAJAP2001 opened #483 "Face mask detection using YoLoV2 , YoloV3 and YoloV4"
Here is a jupyter notebook featuring a complete implementation from scratch of YOLOV2 with TensorFlow 2.0 :

* Dataset pipeline with data augmentation
* Training from YOLO pretrained weights
* Visualization of object detection

Similarly for Others

[2021-05-29 14:44] #470 closed, assigned to nobody

[2021-05-29 14:44] #467 closed, assigned to nobody

[2021-05-29 14:46] Niketkumardheeryan commented on #427
@pragyangra do it fast..

[2021-05-29 14:48] Niketkumardheeryan commented on #366
@harshita2319 start working now..

[2021-05-29 14:59] #433 closed, assigned to nobody

[2021-05-29 15:02] #472 closed, assigned to nobody

[2021-05-29 15:07] #364 closed, assigned to srimontidutta

[2021-05-29 15:09] #461 closed, assigned to nobody

[2021-05-29 15:10] #445 closed, assigned to nobody

[2021-05-29 15:10] #443 closed, assigned to nobody

[2021-05-29 15:27] Niketkumardheeryan commented on #401
@Dishita2602 you can start working

[2021-05-29 15:39] A-kriti opened #484 "Ghost Cartoon Filter"
Converting an image into a Ghost image using OpenCV, Numpy and Python.

## Output

![image](https://user-images.githubusercontent.com/73133055/120076225-19902e80-c0c2-11eb-876c-0f22985eb899.png)

[2021-05-30 05:36] Amit366 opened #486 "Document matcher"
I will create a model which will match different documents.

[2021-05-30 11:08] Amit366 opened #488 "Netflix EDA and Genre Prediction"
I will create a model for Netflix EDA and Genre Prediction.

[2021-05-30 11:32] #347 closed, assigned to shantamsultania

[2021-05-31 12:14] NEERAJAP2001 opened #497 "Face Detection using PCA"
Principal component analysis (PCA) is a statistical procedure that uses an orthogonal transformation to convert a set of observations of possibly correlated variables (entities each of which takes on various numerical values) into a set of values of linearly uncorrelated variables called principal components. If there are n observations withp variables, then the number of distinct principal compon

[2021-05-31 12:17] Manasi2001 opened #498 "Image to Pencil Sketch Converter"
The aim is to convert a RGB image into a pencil sketch, like this:

Before:
![](https://i.imgur.com/psq5aL2.jpg)

After:
![](https://i.imgur.com/yAYRiCK.jpg)

[2021-05-31 12:52] Manasi2001 opened #500 "Multiple Linear Regression - Implementation from Scratch"
I would like to add code for the implementation of 'Multiple Linear Regression' from scratch. @ashishsahu1 please assign it to me.

[2021-05-31 13:03] Manasi2001 opened #502 "Naïve Bayes - Implementation from Scratch"
I'll add code for the implementation of 'Naïve Bayes' from scratch.

[2021-05-31 13:31] Manasi2001 opened #504 "Spectral Clustering - Implementation from Scratch"
I'll add code for the implementation of 'Spectral Clustering' from scratch and a README for it too.

[2021-05-31 14:04] Amit366 opened #506 "Perkinson's Disease Prediction"
I will create a model for Perkinson's Disease Prediction

[2021-05-31 16:49] Amit366 opened #509 "Video Game Sales Prediciton"
I will create a model for Video Game Sales Prediciton

[2021-05-31 17:24] Amit366 opened #511 "Mall Customers Segmentation using clustering"
I will be using K-Means clustering for Mall customer segmentation

[2021-05-31 17:35] Amit366 opened #513 "UrbanSound8K"
I will be adding a model to classify different sounds

[2021-05-31 17:39] Amit366 opened #515 "Traffic mortality in USA"
I will add a model to predict Traffic mortality in USA

[2021-05-31 18:10] Amit366 opened #517 "Voice-Gender identification"
I will create a model for classifying gender through voice

[2021-05-31 18:39] #486 closed, assigned to nobody

[2021-06-01 15:10] #506 closed, assigned to nobody

[2021-06-06 04:20] #483 closed, assigned to nobody

[2021-06-07 12:47] #488 closed, assigned to nobody

[2021-06-09 08:06] #517 closed, assigned to nobody

[2021-06-09 08:08] #515 closed, assigned to nobody

[2021-06-09 08:09] #513 closed, assigned to nobody

[2021-06-09 08:11] #4 closed, assigned to aasthasaxena217

[2021-06-09 08:11] #11 closed, assigned to Stuti2803

[2021-06-09 08:11] #13 closed, assigned to srimontidutta

[2021-06-09 08:11] #16 closed, assigned to psyduck1203

[2021-06-09 08:11] #21 closed, assigned to nobody

[2021-06-09 08:11] #42 closed, assigned to nobody

[2021-06-09 08:11] #60 closed, assigned to psyduck1203

[2021-06-09 08:11] #61 closed, assigned to PavitraAritas

[2021-06-09 08:11] #62 closed, assigned to HOTSONHONET

[2021-06-09 08:11] #63 closed, assigned to nobody

[2021-06-09 08:11] #96 closed, assigned to ritikkumar55

[2021-06-09 08:12] #97 closed, assigned to aqua0

[2021-06-09 08:12] #109 closed, assigned to saaalik

[2021-06-09 08:12] #129 closed, assigned to Bayesian4042

[2021-06-09 08:12] #133 closed, assigned to aishwaryachand

[2021-06-09 08:12] #150 closed, assigned to srimontidutta

[2021-06-09 08:12] #155 closed, assigned to sakshi012000

[2021-06-09 08:12] #156 closed, assigned to deepanshudutta743

[2021-06-09 08:12] #174 closed, assigned to aj7tt

[2021-06-09 08:12] #175 closed, assigned to subhangi2731

[2021-06-09 08:12] #176 closed, assigned to ELITA04

[2021-06-09 08:12] #192 closed, assigned to sonali-rajput

[2021-06-09 08:12] #196 closed, assigned to Elizah550

[2021-06-09 08:12] #210 closed, assigned to rashmitha520

[2021-06-09 08:12] #215 closed, assigned to tarannum-perween

[2021-06-10 06:16] #509 closed, assigned to nobody

[2021-06-10 18:04] KajalSinghBAGHEL commented on #452
Please check my pull request

[2021-06-11 13:56] #511 closed, assigned to nobody

[2021-06-11 13:58] #482 closed, assigned to nobody

[2021-06-11 14:56] #427 closed, assigned to pragyangra

[2021-06-15 20:24] #248 closed, assigned to Ismail-Farahat

[2021-06-19 17:24] #401 closed, assigned to Dishita2602

[2021-06-19 17:24] #402 closed, assigned to nobody

[2021-06-19 17:24] #403 closed, assigned to Manasi2001

[2021-06-19 17:24] #415 closed, assigned to nobody

[2021-06-19 17:24] #416 closed, assigned to nobody

[2021-06-19 17:24] #421 closed, assigned to nobody

[2021-06-19 17:24] #422 closed, assigned to nobody

[2021-06-19 17:24] #430 closed, assigned to nobody

[2021-06-19 17:24] #437 closed, assigned to nobody

[2021-06-19 17:24] #439 closed, assigned to sameeksharl

[2021-06-19 17:24] #441 closed, assigned to nobody

[2021-06-19 17:24] #452 closed, assigned to KajalSinghBAGHEL

[2021-06-19 17:24] #459 closed, assigned to nobody

[2021-06-19 17:24] #462 closed, assigned to nobody

[2021-06-19 17:24] #463 closed, assigned to nobody

[2021-06-19 17:24] #466 closed, assigned to nobody

[2021-06-19 17:24] #476 closed, assigned to nobody

[2021-06-19 17:24] #477 closed, assigned to nobody

[2021-06-19 17:24] #480 closed, assigned to nobody

[2021-06-19 17:24] #484 closed, assigned to nobody

[2021-06-19 17:24] #497 closed, assigned to nobody

[2021-06-19 17:24] #498 closed, assigned to nobody

[2021-06-19 17:24] #500 closed, assigned to nobody

[2021-06-19 17:24] #502 closed, assigned to nobody

[2021-06-19 17:24] #504 closed, assigned to nobody

[2021-06-19 17:25] #306 closed, assigned to this-is-aishwarya

[2021-06-19 17:25] #307 closed, assigned to RohiniRG

[2021-06-19 17:25] #309 closed, assigned to salonidabgar

[2021-06-19 17:25] #317 closed, assigned to nobody

[2021-06-19 17:25] #319 closed, assigned to nobody

[2021-06-19 17:25] #320 closed, assigned to nobody

[2021-06-19 17:25] #321 closed, assigned to codername-123

[2021-06-19 17:25] #322 closed, assigned to tarannum-perween

[2021-06-19 17:25] #323 closed, assigned to nobody

[2021-06-19 17:25] #325 closed, assigned to salonidabgar

[2021-06-19 17:25] #333 closed, assigned to this-is-aishwarya

[2021-06-19 17:25] #337 closed, assigned to salonidabgar

[2021-06-19 17:25] #338 closed, assigned to walaa5

[2021-06-19 17:25] #341 closed, assigned to nobody

[2021-06-19 17:25] #343 closed, assigned to aabhapingle

[2021-06-19 17:25] #352 closed, assigned to prathimacode-hub

[2021-06-19 17:25] #362 closed, assigned to shreyasZ10

[2021-06-19 17:25] #365 closed, assigned to AparnaJuhi

[2021-06-19 17:25] #366 closed, assigned to harshita2319

[2021-06-19 17:25] #367 closed, assigned to nobody

[2021-06-19 17:25] #373 closed, assigned to srimontidutta

[2021-06-19 17:25] #386 closed, assigned to Dishita2602

[2021-06-19 17:25] #393 closed, assigned to undetectablevirus

[2021-06-19 17:25] #398 closed, assigned to Aparna-Sakshi

[2021-06-19 17:25] #400 closed, assigned to Srishti013

[2021-06-19 17:25] #228 closed, assigned to AryaPatel1111

[2021-06-19 17:25] #231 closed, assigned to Sumhack

[2021-06-19 17:25] #247 closed, assigned to Aditi0102

[2021-06-19 17:25] #270 closed, assigned to iamakkkhil

[2021-06-19 17:25] #271 closed, assigned to RohiniRG

[2021-06-19 17:25] #276 closed, assigned to nobody

[2021-06-19 17:25] #290 closed, assigned to einhawking

[2021-06-19 17:25] #301 closed, assigned to Rajeswari0410

[2021-06-19 17:25] #303 closed, assigned to Aditi0102

[2021-06-19 17:25] #305 closed, assigned to nobody

[2021-06-30 18:48] Umesh-01 opened #522 "add some badges with links to the related pages"
**Is your feature request related to a problem? Please describe.**
I will add some more badges to the top of readme.md file and make them of single type so that it will look more interactive and awesome, since the badges will be colorful and more attractive than the text the users will like it and it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, et

[2021-06-30 19:20] Umesh-01 commented on #522
@ashishsahu1 @Amit366 should I work on this issue??

[2021-07-05 14:36] ashishsahu1 commented on #522
@Umesh-01 surely you can

[2021-07-11 13:49] akash-rajak opened #524 "Password Strength Classifier"
Want to create a model to predict the password strength

Will use dataset from here https://www.kaggle.com/bhavikbb/password-strength-classifier-dataset

Will use different algorithm like
-  Linear Regression
-  Ridge Regression
-  Decision Tree Regressor

[2021-07-11 13:49] akash-rajak commented on #524
@ashishsahu1 , can i work on this issue under LGM SOC.

[2021-07-11 19:27] Shivani-Khare opened #525 "Detailed Analysis of Covid-19 for Indian states"
I will be conducting a detailed analysis for the covid-19 situation for the country India. The analysis would include the state with the highest number of cases and the vaccination conducted by the state.

Analysis on vaccination details such as the vaccine used, comparison between the number of male and female vaccine takers for the state.

Kindly assign me this issue as I am really interested in